

{% if app.request.attributes.get('_route_params') %}

	{% set urlSplit = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) | split('-') %}

{% else %}

	{% set urlSplit = '' %}


{% endif %}
	{% if outlet is defined %}
		{% set urlSplit = urlSplit|merge(['outlet','hombre']) %}
	{% endif %}

    <!doctype html> 
    <html>   
        <!--<![endif]-->
	
	<link rel="shortcut icon" href="{{ asset('bundles/customproject/images/favicon.png') }}" type="image/x-icon">
	<link rel="icon" href="{{ asset('bundles/customproject/images/favicon.png') }}" type="image/x-icon">
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	    <meta name="description" content="{{'Men´s clothing'|t}}
	{% for word in urlSplit %}
		{% if not loop.first and not loop.last %}
			{{ word }}
		{% endif %}
	{% endfor %}
	   ">
            <title>{{"Men's clothing"|t }}   
	{% for word in urlSplit %}
		{% if not loop.first and not loop.last %}
			{{ word }}
		{% endif %}
	{% endfor %}
	   </title>
            {% include "CustomProjectBundle::styles.html.twig"  %}
            {% include "CustomProjectBundle::script.html.twig"  %}
    	    <link rel="stylesheet" href="/bundles/drufonycore/assets/css/generic-styles.css">
        </head> 

