

{% if app.request.attributes.get('_route_params') %}

	{% set urlSplit = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) | split('-') %}

{% else %}

	{% set urlSplit = '' %}


{% endif %}
	{% if outlet is defined %}
		{% set urlSplit = urlSplit|merge(['outlet','hombre']) %}
	{% endif %}

    <!doctype html> 
    <html lang='{{lang}}'>   
        <!--<![endif]-->
	
	<link rel="shortcut icon" href="{{ asset('bundles/customproject/images/favicon.png') }}" type="image/x-icon">
	<link rel="icon" href="{{ asset('bundles/customproject/images/favicon.png') }}" type="image/x-icon">
        <head>
         
	   <meta charset="utf-8">

	    <meta name="viewport" content="width=device-width, initial-scale=1">

            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	    <meta name="description" content="{{'Men´s clothing'|t}}


{% if type is defined %}


	{% if type=="product" %}

		{{ contentData.title }}			

	{% else %}


		{% for word in categorynames | split("-") %}
			{{ word }}
		{% endfor %}

	{% endif %}
	

{% else %}

	{{ "Macson Man"|t }}	

{% endif %}

	   ">


{% if commerce is defined %}


    <title>{{'Shipping and Payment'|t}}</title>
    
    
    <!-- styles -->
    <link rel="stylesheet" href="/bundles/drufonycore/caprese/version1.0.1/css/main.css">
    <link rel="stylesheet" href="/bundles/drufonycore/caprese/version1.0.1/css/jquery.pretty.photo.css">
    <link rel="shortcut icon" href="/bundles/drufonycore/caprese/version1.0.1/img/favicon.ico">
    <link rel="stylesheet" href="/bundles/drufonycore/assets/css/generic-styles.css">
    <!--/ styles -->
    
    <!-- scripts -->
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <script src="/bundles/drufonycore/caprese/version1.0.1/js/jquery-1.10.1.min.js"></script>
    <script src="/bundles/drufonycore/caprese/version1.0.1/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/bundles/drufonycore/caprese/version1.0.1/js/jquery.isotope.min.js"></script>
    <script src="/bundles/drufonycore/caprese/version1.0.1/js/jquery.nivo.slider.min.js"></script>
    <script src="/bundles/drufonycore/caprese/version1.0.1/js/jquery.pretty.photo.js"></script>
    <script src="/bundles/drufonycore/caprese/version1.0.1/js/main.js"></script>
    <!--/ scripts -->

    <style type="text/css">
      .checkout-process-wrapper {overflow: hidden; position: relative;}
      .checkout-process-wrapper .checkout {position: relative;}
      .checkout-process-wrapper .input {border-bottom: none}
      .checkout-process-wrapper form { overflow:hidden; display:block !important;}
      .checkout-process-wrapper .checkout h2 { cursor: inherit; }
    </style>


{% endif %}


<script>

checkout=false;

</script>


{% if homePage is defined %}

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');

fbq('init', '1076793639027471');
fbq('track', "PageView");</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1076793639027471&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

{% endif %}

{% if yourOrder is defined %}

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');
 
fbq('init', '1076793639027471');
fbq('track', "PageView");
 
fbq('track', 'Purchase', {value: '0.00', currency:'EUR'});
 
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1076793639027471&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->



{% endif %}


            <title> 

{% if homePage is defined %}

	{{ "Suits, shirts and men's fashion |  Macson online shop"|t }}

{% else %}
	
	{% if type is defined %}

		{% if type=="product" %}

			{{ contentData.title }}			

		{% else %}

			{% if type=="category" %}
			
			     	{% if menuType is defined %}
	
					{% if menuType == 'outlet' %}

						Outlet | {{ catInfo.title }}			

					{% endif %}
				
				{% else %}
	
					{{ catInfo.title }}			

				{% endif %}

			{% else %}

				{{ "Macson Man"|t }}	

			{% endif %}
		
		{% endif %}

	{% else %}
		
		{% if outletHome is defined %}

			{{ "Suits, shirts and men's fashion | Outlet Macson"|t }}

		{% else %}

			{% for word in categorynames | split("-") %}
		
				{{ word }}
	
			{% endfor %}

		{% endif %}

	{% endif %}

	

{% endif %}

	   </title>


<!-- Hotjar Tracking Code for http://www.macson.es -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:202982,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>



            {% include "CustomProjectBundle::styles.html.twig"  %}
            {% include "CustomProjectBundle::script.html.twig"  %}
    	    <link rel="stylesheet" href="/bundles/drufonycore/assets/css/generic-styles.css">
        </head> 

