
<script>
	var removeText="{{'Remove'|t}}";
	var noProductCartText="{{'There is no product added to the Cart'|t}}";
	var imageThumbPath =" {{asset('bundles/customproject/images/Product/Thumb/')}}";
	var route = "{{ path('macson_chart', { 'ope':'PLACEHOLDER1','pid': 'PLACEHOLDER2' , 'vid':'PLACEHOLDER3' }) }}";
	var imageCarrito =" {{asset('bundles/customproject/images/carrito.png')}}";
	var lang="{{ lang }}";
</script>

<div id="carrito">

<h2 class="align-left">{{ 'Shopping Cart'|t}}</h2>

{% set sumPrice= 0 %}

{% if products[0] is defined  %}

	<div class="table">
		<div class="height25 row">
			<div class="cell pad5"></div>
			<div class="cell pad5"></div>
			<div class="cell pad5"><b>{{'Size'|t}}</b></div>
			<div class="cell pad5"><b>{{ 'Price'|t }}</b></div>
			<div class="cell pad5"><b>{{ 'Units'|t }}</b></div>
		</div>


{% set sumPrice=0 %}

{% for item in products %}

		<div class="row height102 pad5">
			<div class="cell">
				<a href={{ path('drufony_general_url',{'url' : item.product.target, 'lang': lang} ) }}>
					<img src='{{ asset('bundles/customproject/images/Product/Thumb/'~item.product.sgu~'_1.jpg') }}'>
				</a>
			</div>		
			<div class="cell width300 pad5">
				{{ item.product.title }}<br> ref.{{ item.product.sgu  }}
			</div>
			<div class="cell width50 pad5">{{ item.product.size }}</div>
			<div class="cell width100 pad5">{{ item.product.pricePVP }} €</div>
			<div class="cell width50 pad5">{{ item.count }}</div>
			<div class="cell width50 borrarArticulo pad5" product="{{ item.product.id }}" variety="{{ item.product.varProdId  }}">{{'Remove'|t}}</div>
{% set sumPrice= sumPrice + item.product.pricePVP*item.count %}
		</div>

{% endfor %}


	</div>

	<div class="pad5"></div>
	<div class="height102 width180 pad5">
		<div>
			{{ 'Total Amount'|t  }} <div id="precioTotal"><b>{{ sumPrice | round(2,'common')}} €</b></div>
		</div>
		<div class="pad5">
			<form action="{{ path('drufony_checkout_shipping_info', {'lang': lang} ) }}">
				<input type="submit" class="okButton width150" value="{{ 'Proceed to check out'|t }}">				
			</form>
			<div class="height3"></div>	
			<button id="continue" class="cancelButton width150">{{'Continue Shopping'|t}}</button>		
		</div>
	</div>


{% else  %}

	<ul id="listaCarritoResumen">
		<li>
{{ 'There is no product added to the Cart'|t }}
		</li>
	</ul>

	<div>
	<div class="pad5"></div>
	<div class="height102 width180 pad5  border">
		<div>
			{{ 'Total Amount'|t  }} <div id="precioTotal"><b>{{ sumPrice | round(2,'common')}} €</b></div>
		</div>
		<div class="pad5">
			<form action="{{ path('drufony_checkout_shipping_info', {'lang': lang} ) }}">
				<input type="submit" class="okButton width150" value="{{ 'Proceed to check out'|t }}">				
			</form>
			<div class="height3"></div>	
			<button id="continue" class="cancelButton width150">{{'Continue Shopping'|t}}</button>		
		</div>
	</div>
	</div>


{% endif %}
</div>
