
<div class="carrito" class="pad15">

<div class="fs28 pad40"><b>{{ 'Shopping Cart'|t}}</b></div>

{% set sumPrice= 0 %}

{% if products[0] is defined  %}


	<div id="listaCarritoResumen" class="table pad10 border">
{% set sumPrice=0 %}


{% for item in products %}

		<div class= "row wd100 height102 pad5">
			<div>
				<a href={{ path('drufony_general_url',{'url' : item.product.target, 'lang': lang} ) }}>
					<img src='{{ asset('bundles/customproject/images/Product/Thumb/'~item.product.sgu~'_1.jpg') }}'>
				</a>
			</div>		
			<div class="pad5">
				<p class="fs10">{{ item.product.sgu  }}</p>
			</div>
			<div class="pad5">
				{{ item.product.title }}
			</div>
			<div class="pad5">{{ item.product.size }}</div>
			<div class="pad5">
				{{ item.product.pricePVP | round(0,'floor')}}<font size="1">,{{ item.product.pricePVP | decimals  }} €</font>
			</div>
			<div class="pad5">{{'Units'|t}}:{{ item.count }}</div>
			<div class="pad5"><div class="borrarArticulo" product="{{ item.product.id }}" variety="{{ item.product.varProdId  }}">{{'Remove'|t}}</div></div>
{% set sumPrice= sumPrice + item.product.pricePVP*item.count %}
		</div>

{% endfor %}

	</div>

	<div class="inline wd100">
	     <div class="border pad10 mg-bottom5">
		<div><b>{{'Total Amount'|t}}</b></div>
		<div id="precioTotal" class= "fs28">
			<b>{{ sumPrice | round(0,'floor')}}<font size="4">,{{ sumPrice | decimals  }} €</font></b>
		</div>
	    </div>
		<div>
			<form action="{{ path('drufony_checkout_shipping_info', {'lang': lang} ) }}">
				<input type="submit" class="button width200" value="{{ 'Proceed to check out'|t }}">				
			</form>
			<div id="continue" class="width200 pad10 cursorpointer underline">{{'Continue Shopping'|t}}</div>		
		</div>
	</div>


{% else  %}

	<div id="listaCarritoResumen" class="table pad10 border">
		<div class="row">
{{ 'There is no product added to the Cart'|t }}
		</div>
	</div>

	<div class="inline textwhite width8">ancho </div>
	<div class="inline width200">
	     <div class="border pad10 mg-bottom5">
		<div><b>{{'Total Amount'|t}}</b></div>
		<div id="precioTotal" class= "fs28">
			<b>{{ sumPrice | round(2,'common')}} €</b>
		</div>
	    </div>
		<div>
			<form action="{{ path('drufony_checkout_shipping_info', {'lang': lang} ) }}">
				<input type="submit" class="button width200" value="{{ 'Proceed to check out'|t }}">				
			</form>
			<div id="continue" class="width200 pad10 cursorpointer underline">{{'Continue Shopping'|t}}</div>		
		</div>
	</div>


{% endif %}
</div>
