
<script>
	var removeText="{{'Remove'|t}}";
	var sizeText="{{'Size'|t}}";
	var unitsText="{{'Units'|t}}";
	var noProductCartText="{{'There is no product added to the Cart'|t}}";
	var imageThumbPath =" {{asset('bundles/customproject/images/Product/Thumb/')}}";
	var route = "{{ path('macson_chart', { 'ope':'PLACEHOLDER1','pid': 'PLACEHOLDER2' , 'vid':'PLACEHOLDER3' }) }}";
	var imageCarrito =" {{asset('bundles/customproject/images/carrito.png')}}";
	var lang="{{ lang }}";
</script>

{% include "CustomProjectBundle::carritoResumen_mov.html.twig" %}
	
<div id="carritoId" class="carrito" class="pad15">

<div class="fs28 pad40"><b>{{ 'Shopping Cart'|t}}</b></div>

{% set sumPrice= 0 %}

{% if products[0] is defined  %}

		<div class="height25 row pad5">
			<div class="cell width85 pad5"></div>
			<div class="cell width85 pad5"><b>Ref.</b></div>
			<div class="cell pad5 width180"></div>
			<div class="cell pad5 width50"><b>{{'Size'|t}}</b></div>
			<div class="cell pad5 width100"><b>{{ 'Price'|t }}</b></div>
			<div class="cell pad5 width50"><b>{{ 'Units'|t }}</b></div>
		</div>


	<div id="listaCarritoResumen" class="listaCarritoClass table pad10 border inline">
	{% set sumPrice=0 %}


	{% for item in products %}

		<div class= "row height102 pad5">
			<div class="cell">
				<a href={{ path('drufony_general_url',{'url' : item.product.target, 'lang': lang} ) }}>
					<img src='{{ asset('bundles/customproject/images/Product/Thumb/'~item.product.sgu~'_1.jpg') }}'>
				</a>
			</div>		
			<div class="cell width85 pad5">
				<p class="fs10">{{ item.product.sgu  }}</p>
			</div>
			<div class="cell width180 pad5">
				{{ item.product.title }}
			</div>
			<div class="cell width50 pad5">{{ item.product.size }}</div>
			<div class="cell width100 pad5">
				{{ item.product.pricePVP | round(0,'floor')}}<font size="1">,{{ item.product.pricePVP | decimals  }} €</font>
			</div>
			<div class="cell width50 pad5">{{ item.count }}</div>
			<div class="cell width50 pad5"><div class="borrarArticulo" product="{{ item.product.id }}" variety="{{ item.product.varProdId  }}">{{'Remove'|t}}</div></div>
	{% set sumPrice= sumPrice + item.product.pricePVP*item.count %}
		</div>

	{% endfor %}

	</div>

	<div class="inline textwhite width8">ancho </div>
	<div class="inline width200">
	     <div class="border pad10 mg-bottom5">
		<div><b>{{'Total Amount'|t}}</b></div>
		<div id="precioTotal" class= "fs28">
			<b>{{ sumPrice | round(0,'floor')}}<font size="4">,{{ sumPrice | decimals  }} €</font></b>
		</div>
	    </div>
		<div>
{% if app.user is not null %}
	{% if 'gencat@macson.es' in app.user.email %}
			<a href={{ path('drufony_gencat',{'lang': lang} ) }}><div type="submit" class="button width200">Realiza el pedido</div></a>				
	{% else %}	
			<form action="{{ path('drufony_checkout_shipping_info', {'lang': lang} ) }}">
				<input type="submit" class="button width200" value="{{ 'Proceed to check out'|t }}">				
			</form>
	{% endif %}
{% else %}	
			<form action="{{ path('drufony_checkout_shipping_info', {'lang': lang} ) }}">
				<input type="submit" class="button width200" value="{{ 'Proceed to check out'|t }}">				
			</form>
{% endif %}	
			<div id="continue" class="width200 pad10 cursorpointer underline">{{'Continue Shopping'|t}}</div>
		</div>
	</div>

{% else  %}
	<div id="listaCarritoResumen" class="listaCarritoClass table pad10 border inline">
		<div class="row">
{{ 'There is no product added to the Cart'|t }}
		</div>
	</div>
	<div class="inline textwhite width8">ancho </div>
	<div class="inline width200">
	     <div class="border pad10 mg-bottom5">
		<div><b>{{'Total Amount'|t}}</b></div>
		<div id="precioTotal" class= "fs28">
			<b>{{ sumPrice | round(0,'floor')}}<font size="4">,{{ sumPrice | decimals  }} €</font></b>
		</div>
	    </div>
		<div>
{% if app.user is not null %}
	{% if 'gencat@macson.es' in app.user.email %}
			<a href={{ path('drufony_gencat',{'lang': lang} ) }}><div type="submit" class="button width200">Realiza el pedido</div></a>				
	{% else %}	
			<form action="{{ path('drufony_checkout_shipping_info', {'lang': lang} ) }}">
				<input type="submit" class="button width200" value="{{ 'Proceed to check out'|t }}">				
			</form>
	{% endif %}
{% else %}	
			<form action="{{ path('drufony_checkout_shipping_info', {'lang': lang} ) }}">
				<input type="submit" class="button width200" value="{{ 'Proceed to check out'|t }}">				
			</form>
{% endif %}	
			<div id="continue" class="width200 pad10 cursorpointer underline">{{'Continue Shopping'|t}}</div>
		</div>
	</div>
{% endif %}
</div>
