{% include "CustomProjectBundle::header.html.twig" %}

<div id="tipoPagina">cat</div>
<div id="contenedor1">	
	<div id="fotoRow">	
		<div class="foto">

{% include "CustomProjectBundle::login.html.twig" %}			
{% include "CustomProjectBundle::carritoResumen.html.twig" %}		
			<img src='{{ asset('bundles/customproject/images/espacio.png') }}'>
{% include "CustomProjectBundle::menu.html.twig" %}
		</div>
{% for product in ball %}
	{% if "NOVEDAD" in product.brand %}
	      {% if novedad is not defined %}
		<div class="foto novedad">
	      {% else %}
		<div class="foto">
	      {% endif %}
	
	{% else %}
		<div class="foto">
	{% endif %}
			<div class="fotoImg2">
				<a href={{ path('drufony_general_url',{'url' : product.target, 'lang': lang} ) }}>
					<img src="{{ asset('bundles/customproject/images/Product/Standard/'~product.sgu~'_2.jpg') }}" alt="{{ product.title }} - {{'Backside'|t}}" />
				</a>
			</div> 
			<div class="fotoImg">
				<a href={{ path('drufony_general_url',{'url' : product.target, 'lang': lang} ) }}>
					<img src="{{ asset('bundles/customproject/images/Product/Standard/'~product.sgu~'_1.jpg') }}" alt="{{ product.title }}" />
				</a>
 			</div>
					
	{% if product.value == '00_AGOTADO'%}		
			<div id="tagAgotado">{{'OUT OF STOCK'|t}}</div>
	{% endif %}
			<div class="tagName">
				{{product.title}}
			</div>
			<div class="tagPrice">
	{% if product.pricePVP == product.firstPrice %}		
				{{ product.pricePVP | round(0,'floor')}}<font size="2">,{{ product.pricePVP | decimals  }} €</font>
	{% else %}
			<a class="tachado">{{ product.firstPrice  | round(2,'common')}} €</a>    {{product.pricePVP | round(0,'floor')}}<font size="2">,{{ product.pricePVP | decimals  }} €</font>
	{%endif%}
			</div>
		</div>
	{% if loop.last %}
		{%if (loop.index)%3 == 0 %}
		<div class="foto">
			<img src='{{ asset('bundles/customproject/images/espacio.png') }}'>	
		</div>
		<div class="foto">
			<img src='{{ asset('bundles/customproject/images/espacio.png') }}'>
		</div>		
		{% endif %}
		{%if (loop.index)%3 == 1 %}	
		<div class="foto">
			<img src='{{ asset('bundles/customproject/images/espacio.png') }}'>	
		</div>	
		{% endif %}
	{% endif %}	
	{%if (loop.index-2)%3 == 0 %}
	</div>
	<div id="fotoRow">
	{% endif %}			
{% endfor %}
	</div>	
</div>	

{% include "CustomProjectBundle::footer.html.twig" %}
