{% include "CustomProjectBundle::header.html.twig" %}

<div id="tipoPagina">cat</div>
<div id="contenedor1">	
		<div class="foto_blank1">

{% include "CustomProjectBundle::login.html.twig" %}			
{% include "CustomProjectBundle::carritoResumen.html.twig" %}	
			<img id="menuImg" src='{{ asset('bundles/customproject/images/espacio.png') }}'>
{% include "CustomProjectBundle::menu.html.twig" %}
		</div>
{% for product in ball %}
		<div class="foto">
	{% if asset_exists( "bundles/customproject/images/Product/Standard/"~product.sgu~"_2.jpg" ) %}
			<div class="fotoImage2">
				<a href={{ path('drufony_general_url',{'url' : product.target, 'lang': lang} ) }}>
					<img class="fotoA" src="{{ asset('bundles/customproject/images/Product/Standard/'~product.sgu~'_2.jpg') }}" alt="{{ product.title }} - {{'Backside'|t}}" />
				</a>
			</div>
			<div class="fotoImg">
				<a href={{ path('drufony_general_url',{'url' : product.target, 'lang': lang} ) }}>
					<img class="fotoA" src="{{ asset('bundles/customproject/images/Product/Standard/'~product.sgu~'_1.jpg') }}" alt="{{ product.title }}" />
				</a>
 			</div>
	{% else %}
			<div class="fotoImgSingle">
				<a href={{ path('drufony_general_url',{'url' : product.target, 'lang': lang} ) }}>
					<img class="fotoA" src="{{ asset('bundles/customproject/images/Product/Standard/'~product.sgu~'_1.jpg') }}" alt="{{ product.title }}" />
				</a>
 			</div>
	{% endif %}
					
	{% if product.value == '00_AGOTADO'%}		
			<div class="tagAgotado">{{'OUT OF STOCK'|t}}</div>
	{% endif %}
			<div class="tagName">
				{{product.title}}
			</div>
			<div class="tagPrice">
	{% if product.pricePVP == product.firstPrice %}		
				{{ product.pricePVP | round(0,'floor')}}<span class="precioDecimal">,{{ product.pricePVP | decimals  }} €</span>
	{% else %}
			<a class="tachado">{{ product.firstPrice  | round(2,'common')}} €</a>    {{product.pricePVP | round(0,'floor')}}<span class="precioDecimal">,{{ product.pricePVP | decimals  }} €</span>
	{%endif%}
			</div>
		</div>


	{% if loop.first and loop.last %}
			<img src='{{ asset('bundles/customproject/images/espacio.png') }}'>	
	{% endif %}	

{% endfor %}
			<img src='{{ asset('bundles/customproject/images/espacio.png') }}'>	
			<img src='{{ asset('bundles/customproject/images/espacio.png') }}'>	
</div>	

{% include "CustomProjectBundle::footer.html.twig" %}
