	 <div id="footer">
		<ul>
			<li class="listFooter">
				Macson Barcelona |
				<div class="desplegaFooter">
					<ul>
						<li class="listDesplegaFooter">
							{{'Since 1942'|t}}
						</li>
						<li class="listDesplegaFooter">
							Be British
						</li>
						<li class="listDesplegaFooter">
							Flagship Store
						</li>
						<li class="listDesplegaFooter">
							{{'Franchises'|t}}
						</li>
						<li class="listDesplegaFooter">
							{{'Uniforms'|t}}
						</li>
					</ul>

				</div>
 			</li>
			<li class="listFooter">
				{{'Buy Guide'|t}} |
				<div class="desplegaFooter">
					<ul>
						<li class="listDesplegaFooter">
							{{'Sizes and equivalencies'|t}}
						</li>
						<li class="listDesplegaFooter">
							{{'Payment methods'|t}}
						</li>
						<li class="listDesplegaFooter">
							{{'Shipment'|t}}
						</li>
						<li class="listDesplegaFooter">
							{{'Returns and exchanges'|t}}
						</li>
						<li class="listDesplegaFooter">
							{{'Privacy policy'|t}}
						</li>
						<li class="listDesplegaFooter">
							{{'Cookies policy'|t}}
						</li>
					</ul>

				</div>
			</li>
			<li class="listFooter">
				{{'Contact'|t}} |
				<div class="desplegaFooter">
					<ul>
						<li class="listDesplegaFooter">
							{{'Customer center'|t}}
						</li>
						<li class="listDesplegaFooter">
							{{'Jobs'|t}}
						</li>
						<li class="listDesplegaFooter">
							Newsletter
						</li>
						<li class="listDesplegaFooter">
							{{'Franchises'|t}}
						</li>
						<li class="listDesplegaFooter">
							{{'Uniforms'|t}}
						</li>
						<li class="listDesplegaFooter">
							{{'On-line press room'|t}}
						</li>
					</ul>

				</div>
			</li>
			<li class="listFooter">
				{{'Press Room'|t}} |
				<div class="desplegaFooter">
					<ul>
						<li class="listDesplegaFooter">
							{{'Corporate Communication'|t}}
						</li>
						<li class="listDesplegaFooter">
							{{'Showroom agency'|t}}
						</li>
						<li class="listDesplegaFooter">
							{{'News'|t}}
						</li>
						<li class="listDesplegaFooter">
							{{'Gallery'|t}}
						</li>
					</ul>

				</div>
			</li>
            		<li class="listFooter"><a href="https://twitter.com/macsonshop" target="_blank"><img src='{{ asset('bundles/customproject/images/twitterIcon.png') }}'></a></li>
            		<li class="listFooter"><a href="https://facebook.com/macsonshop" target="_blank"><img src='{{ asset('bundles/customproject/images/facebookIcon.png') }}'></a></li>
            		<li class="listFooter"><a href="https://plus.google.com/+MacsonEs/posts" target="_blank"><img src='{{ asset('bundles/customproject/images/googlePlusIcon.png') }}'></a></li>
            		<li class="listFooter"><a href="https://www.youtube.com/channel/UCX5ENrQR5rxUOE2LQw6aIkw" target="_blank"><img src='{{ asset('bundles/customproject/images/youTubeIcon.png') }}'></a></li>
            		<li class="listFooter"><a href="https://instagram.com/macsonshop" target="_blank"><img src='{{ asset('bundles/customproject/images/InstagramIcon.png') }}'></a></li>
            		<li class="listFooter"><a href="https://pinterest.com/macsonshop" target="_blank"><img src='{{ asset('bundles/customproject/images/pinterestIcon.png') }}'></a></li>
		</ul>
	</div>

</body>
{% include 'DrufonyCoreBundle::script-analytics.html.twig' %}
{% include 'DrufonyCoreBundle::block-cookie.html.twig' %}

</html>
