	 <div id="footer">
		<ul>
			<li>
				Macson Barcelona | <div class="desplegaFooter"> hola </div>
			</li>
			<li>{{'Franchises'|t}} |</li>
			<li>{{'Buy Guide'|t}} |</li>
			<li>{{'Contact'|t}} |</li>
			<li>{{'Press Room'|t}} |</li>
            		<li><a href="https://twitter.com/macsonshop" target="_blank"><img src='{{ asset('bundles/customproject/images/twitterIcon.png') }}'></a></li>
            		<li><a href="https://facebook.com/macsonshop" target="_blank"><img src='{{ asset('bundles/customproject/images/facebookIcon.png') }}'></a></li>
            		<li><a href="https://plus.google.com/+MacsonEs/posts" target="_blank"><img src='{{ asset('bundles/customproject/images/googlePlusIcon.png') }}'></a></li>
            		<li><a href="https://www.youtube.com/channel/UCX5ENrQR5rxUOE2LQw6aIkw" target="_blank"><img src='{{ asset('bundles/customproject/images/youTubeIcon.png') }}'></a></li>
            		<li><a href="https://instagram.com/macsonshop" target="_blank"><img src='{{ asset('bundles/customproject/images/InstagramIcon.png') }}'></a></li>
            		<li><a href="https://pinterest.com/macsonshop" target="_blank"><img src='{{ asset('bundles/customproject/images/pinterestIcon.png') }}'></a></li>
		</ul>
	</div>

</body>
{% include 'DrufonyCoreBundle::script-analytics.html.twig' %}
{% include 'DrufonyCoreBundle::block-cookie.html.twig' %}

</html>
