	 <div id="footer">
		<ul class="verticalcenter30">
			<li class="listFooter">
				{{'Macson Company'|t}} |
				<div class="desplegaFooter sinEfectos">
					<ul>
						<a href="{{path('drufony_general_url',{'url':lang~'-since-1942','lang':lang})}}">
							<li class="listDesplegaFooter">
								{{'Since 1942'|t}}
							</li>
						</a>
						<a href="{{path('drufony_general_url',{'url':lang~'-be-british','lang':lang})}}">
							<li class="listDesplegaFooter">
								Be British
							</li>
						</a>
						<a href="{{path('drufony_general_url',{'url':lang~'-flagship-store','lang':lang})}}">
							<li class="listDesplegaFooter">
								Flagship Store
							</li>
						</a>
						<a href="{{path('drufony_general_url',{'url':lang~'-franchises','lang':lang})}}">
							<li class="listDesplegaFooter">
								{{'Franchises'|t}}
							</li>
						</a>
					</ul>

				</div>
 			</li>
			<li class="listFooter">
				{{'Buy Guide'|t}} |
				<div class="desplegaFooter sinEfectos">
					<ul>
						<a href={{ path('macson_size',{ 'lang': lang} ) }}>	
							<li class="listDesplegaFooter">
								{{'Sizes and equivalencies'|t}}
							</li>
						</a>
						<a href="{{path('drufony_general_url',{'url':lang~'-payment-methods','lang':lang})}}">
							<li class="listDesplegaFooter">
								{{'Payment methods'|t}}
							</li>
						</a>
						<a href="{{path('drufony_general_url',{'url':lang~'-shipment','lang':lang})}}">
							<li class="listDesplegaFooter">
								{{'Shipment'|t}}
							</li>
						</a>
						<a href="{{path('drufony_general_url',{'url':lang~'-returns-exchanges','lang':lang})}}">
							<li class="listDesplegaFooter">
								{{'Returns and exchanges'|t}}
							</li>
						</a>
						<a href="{{path('drufony_general_url',{'url':lang~'-privacy-policy','lang':lang})}}">
							<li class="listDesplegaFooter">
								{{'Privacy policy'|t}}
							</li>
						</a>
						<a href="{{path('drufony_general_url',{'url':lang~'-cookies-policy','lang':lang})}}">
							<li class="listDesplegaFooter">
								{{'Cookies policy'|t}}
							</li>
						</a>
					</ul>

				</div>
			</li>
			<li class="listFooter">
				{{'Contact'|t}}
				<div class="desplegaFooter sinEfectos">
					<ul>
						<a href="{{path('drufony_contact',{'contactType':'customer'})}}">
							<li class="listDesplegaFooter">
								{{'Customer center'|t}}
							</li>
						</a>
						<a href="{{path('drufony_contact',{'contactType':'hr'})}}">
							<li class="listDesplegaFooter">
								{{'Jobs'|t}}
							</li>
						</a>
						<a href="{{path('drufony_contact',{'contactType':'newsletter'})}}">
							<li class="listDesplegaFooter">
								Newsletter
							</li>
						</a>
						<a href="{{path('drufony_contact',{'contactType':'franchises'})}}">
							<li class="listDesplegaFooter">
								{{'Franchises'|t}}
							</li>
						</a>
						<a href="{{path('drufony_contact',{'contactType':'uniforms'})}}">
							<li class="listDesplegaFooter">
								{{'Uniforms'|t}}
							</li>
						</a>
						<a href="{{path('drufony_contact',{'contactType':'press'})}}">
							<li class="listDesplegaFooter">
								{{'On-line press room'|t}}
							</li>
						</a>
					</ul>

				</div>
			</li>
			<li id="payment_method" class="inline">
				<ul>

            					<li class="inline padh5"><img src='{{ asset('bundles/customproject/images/visa.png') }}'></li>
            					<li class="inline padh5"><img src='{{ asset('bundles/customproject/images/mastercard.png') }}'></li>
            					<li class="inline padh5"><img src='{{ asset('bundles/customproject/images/americanexpress.png') }}'></li>
            					<li class="inline padh5"><img src='{{ asset('bundles/customproject/images/payapal.png') }}'></li>

				</ul>

			</li>
			
		</ul>
	</div>

</body>
{% include 'DrufonyCoreBundle::script-analytics.html.twig' %}

</html>
