	 <div id="footer">
		<ul>
			<li class="listFooter">
				Macson Barcelona |
				<div class="desplegaFooter sinEfectos">
					<ul>
						<a href="{{path('drufony_general_url',{'url':lang~'-since-1942','lang':lang})}}">
							<li class="listDesplegaFooter borderBottom">
								{{'Since 1942'|t}}
							</li>
						</a>
						<a href="{{path('drufony_general_url',{'url':lang~'-be-british','lang':lang})}}">
							<li class="listDesplegaFooter borderBottom">
								Be British
							</li>
						</a>
						<a href="{{path('drufony_general_url',{'url':lang~'-flagship-store','lang':lang})}}">
							<li class="listDesplegaFooter borderBottom">
								Flagship Store
							</li>
						</a>
						<a href="{{path('drufony_general_url',{'url':lang~'-franchises','lang':lang})}}">
							<li class="listDesplegaFooter borderBottom">
								{{'Franchises'|t}}
							</li>
						</a>
						<a href="{{path('drufony_general_url',{'url':lang~'-uniforms','lang':lang})}}">
							<li class="listDesplegaFooter">
								{{'Uniforms'|t}}
							</li>
						</a>
					</ul>

				</div>
 			</li>
			<li class="listFooter">
				{{'Buy Guide'|t}} |
				<div class="desplegaFooter sinEfectos">
					<ul>
						<a href="{{path('drufony_general_url',{'url':lang~'-sizes-equivalencies','lang':lang})}}">	
							<li class="listDesplegaFooter borderBottom">
								{{'Sizes and equivalencies'|t}}
							</li>
						</a>
						<a href="{{path('drufony_general_url',{'url':lang~'-payment-methods','lang':lang})}}">
							<li class="listDesplegaFooter borderBottom">
								{{'Payment methods'|t}}
							</li>
						</a>
						<a href="{{path('drufony_general_url',{'url':lang~'-shipment','lang':lang})}}">
							<li class="listDesplegaFooter borderBottom">
								{{'Shipment'|t}}
							</li>
						</a>
						<a href="{{path('drufony_general_url',{'url':lang~'-returns-exchanges','lang':lang})}}">
							<li class="listDesplegaFooter borderBottom">
								{{'Returns and exchanges'|t}}
							</li>
						</a>
						<a href="{{path('drufony_general_url',{'url':lang~'-privacy-policy','lang':lang})}}">
							<li class="listDesplegaFooter borderBottom">
								{{'Privacy policy'|t}}
							</li>
						</a>
						<a href="{{path('drufony_general_url',{'url':lang~'-cookies-policy','lang':lang})}}">
							<li class="listDesplegaFooter">
								{{'Cookies policy'|t}}
							</li>
						</a>
					</ul>

				</div>
			</li>
			<li class="listFooter">
				{{'Contact'|t}} |
				<div class="desplegaFooter sinEfectos">
					<ul>
						<li class="listDesplegaFooter borderBottom">
							{{'Customer center'|t}}
						</li>
						<li class="listDesplegaFooter borderBottom">
							{{'Jobs'|t}}
						</li>
						<li class="listDesplegaFooter borderBottom">
							Newsletter
						</li>
						<li class="listDesplegaFooter borderBottom">
							{{'Franchises'|t}}
						</li>
						<li class="listDesplegaFooter borderBottom">
							{{'Uniforms'|t}}
						</li>
						<li class="listDesplegaFooter">
							{{'On-line press room'|t}}
						</li>
					</ul>

				</div>
			</li>
			<li class="listFooter">
				{{'Press Room'|t}} |
				<div class="desplegaFooter sinEfectos">
					<ul>
						<li class="listDesplegaFooter borderBottom">
							{{'Corporate Communication'|t}}
						</li>
						<li class="listDesplegaFooter borderBottom">
							{{'Showroom agency'|t}}
						</li>
						<li class="listDesplegaFooter borderBottom">
							{{'News'|t}}
						</li>
						<li class="listDesplegaFooter">
							{{'Gallery'|t}}
						</li>
					</ul>

				</div>
			</li>
			
			<li class="listFooter">
				{{'Social Media'|t}}
				<div class="desplegaFooter sinEfectos height20 pad5">
					<ul>
            					<li class="display-inline"><a href="https://twitter.com/macsonshop" target="_blank"><img src='{{ asset('bundles/customproject/images/twitterIcon.png') }}'></a></li>
            					<li class="display-inline"><a href="https://facebook.com/macsonshop" target="_blank"><img src='{{ asset('bundles/customproject/images/facebookIcon.png') }}'></a></li>
            					<li class="display-inline"><a href="https://plus.google.com/+MacsonEs/posts" target="_blank"><img src='{{ asset('bundles/customproject/images/googlePlusIcon.png') }}'></a></li>
            					<li class="display-inline"><a href="https://www.youtube.com/channel/UCX5ENrQR5rxUOE2LQw6aIkw" target="_blank"><img src='{{ asset('bundles/customproject/images/youTubeIcon.png') }}'></a></li>
            					<li class="display-inline"><a href="https://instagram.com/macsonshop" target="_blank"><img src='{{ asset('bundles/customproject/images/InstagramIcon.png') }}'></a></li>
            					<l class="display-inline"><a href="https://pinterest.com/macsonshop" target="_blank"><img src='{{ asset('bundles/customproject/images/pinterestIcon.png') }}'></a></li>
					</ul>
				</div>
		</ul>
	</div>

</body>
{% include 'DrufonyCoreBundle::script-analytics.html.twig' %}
{% include 'DrufonyCoreBundle::block-cookie.html.twig' %}

</html>
