


{% include "CustomProjectBundle::header.html.twig" %}

<div id="tipoPagina">pass</div>
<div id="contenedor1">	
{% include "CustomProjectBundle::login.html.twig" %}			
{% include "CustomProjectBundle::carritoResumen.html.twig" %}			
			<div class=" pad10 align-left verticalcenter30">
			    {{ form_start(forgotForm) }}
			    {{ form_errors(forgotForm) }}
			      <label class="label" style="margin-bottom:10px">
				{{ form_label(forgotForm.email) }}
				{% if forgotForm.email.vars.required %}
				  <span>*</span>
				{% endif %}
			      </label>
			      {{ form_errors(forgotForm.email) }}
			      <label class="input" style="margin-bottom:18px">
				{{ form_widget(forgotForm.email, { 'attr': { 'class': 'form-control' } }) }}
			      </label>
			      <div>
				{{ form_row(forgotForm.save, {'attr': {'class': 'button button-ok'}} ) }}
			      </div>
			    {{ form_end(forgotForm) }}
			
			</div>
</div>	

{% include 'DrufonyCoreBundle::block-cookie.html.twig' %}
{% include "CustomProjectBundle::footer.html.twig" %}
