{% include "CustomProjectBundle::base.html.twig" %}

{% set sumItems= 0 %}
{% for item in products %}
	{% set sumItems= sumItems + item.count %}
{% endfor %}

{% if type is defined and app.request.attributes.get('_route_params') %}

	{% set urlSplit = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) | split('-') %}

{% else %}

	{% set urlSplit = '' %}

{% endif %}

{% if outlet is defined and urlSplit is not empty %}
	{% set urlSplit = urlSplit | merge(['outlet','hombre']) %}
{% endif %}

<body>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{constant('GOOGLE_ANALYTIC')}}', 'auto');
  ga('send', 'pageview');

{% if yourOrder is defined %}

{% if order.orderId is defined %}


ga('require', 'ecommerce');

ga('ecommerce:addTransaction', {
  'id': '{{order.orderId}}',                     // Transaction ID. Required.
  'affiliation': 'Macson Shop',   // Affiliation or store name.
  'revenue': '{{order.total|number_format(2,'.')}}',               // Grand Total.
  'shipping': '{{order.shippingValue|number_format(2,'.')|number_format(2,'.')}}',                  // Shipping.
  'tax': '{{ (order.total-order.total/1.21)|round(2)}}',                     // Tax.
  'currency': 'EUR' 
});

{% for product in orderProducts %}

ga('ecommerce:addItem', {
  'id': '{{order.orderId}}',                     // Transaction ID. Required.
  'name': '{{product.title_p}}',    // Product name. Required.
  'sku': '{{product.sgu}}',                 // SKU/code.
{% set cat=product.title_p|split(" ") %}
  'category': '{{cat[0]}}',         // Category or variation.
  'price': '{{product.total|number_format(2,'.')}}',                 // Unit price.
  'quantity': '{{product.quantity}}'                   // Quantity.
});

{% endfor %}

ga('ecommerce:send');

{% endif %}
{% endif %}

</script>


<div id="container">

	<div id='header_mob'>

	<div id='headerFreeShipping' class="inline sinEfectoswhite verticalcenter30">
{% if lang == 'es' %}
	    <p><a href={{ path('drufony_home_url',{ 'lang': 'en'} ) }}> English</a></p>  
{% endif %}
{% if lang == 'en' %}
	    <p><a href={{ path('drufony_home_url',{ 'lang': 'es'} ) }}> Español</a></p>  
{% endif %}
	</div>
	<div id='headerInfo' class="inline">
		<p class="margin-right-30">{{ 'COSTUMER CENTER'|t }}</p>
	</div>
	</div>

	<div id='menu_header_mob' class="border">
		<div id="menu_boton_mob" class="inline center height50 width33p">
				<img src='{{ asset('bundles/customproject/images/menu_mob.png') }}'>
		</div>
		<div class="inline center height50 verticalcenter50 width33p">
            	<span id="carritoResumen_mob"><img src='{{ asset('bundles/customproject/images/carrito.png') }}'></span>
 	    	<span id="sumItems_mob">
	    		({{ sumItems }})
	    	</span>
		</div>
		<div class="inline center verticalcenter50 width33p">
            		<div id="loginMenu_mob">
{% if app.user is not null %}
   				{{ 'USER EDIT'|t }}
{% else %}
				{{ 'LOGIN'|t }}
{% endif %}
	    		</div>
		</div>
	
	</div>


 	<div id='header' class="sinEfectos">


	<div id='headerFreeShipping' class="inline">
		<p class="margin-left-30">{{ 'Spain (Peninsule and balearic Island): Free shipping.'|t }}</p>

	</div>
	<div id='headerInfo' class="inline sinEfectoswhite">
		<a href="{{path('drufony_contact',{'contactType':'customer'})}}"><p class="margin-right-30">{{ 'COSTUMER CENTER'|t }}: +34 663 851 066</p></a>
	</div>


	<div id="back" class="inline padtop3 cursor"><img src='{{ asset('bundles/customproject/images/back.png') }}'></div>
	<ul class="verticalcenter30">
            <li> <a href={{ path('macson_stores',{ 'lang': lang} ) }}>
		{{'Stores'|t}} | </a>
	    </li>
	    <li><a href={{ path('macson_category_shoponline',{ 'lang': lang} ) }}> {{ 'Shop On-line' | t }} |</a> </li>  


	    <li><a href={{ path('macson_category_outlet_home',{ 'lang': lang} ) }}> {{ 'Outlet' | t }} | </a></li>  
{% if app.user is not null %}
	{% if 'gencat@macson.es' in app.user.email %}
	    <li><a href={{ path('macson_category_mujer_home',{ 'lang': lang} ) }}> {{ 'Women' | t }} | </a></li>  
	{% endif %}
{% endif %}
            <li id="loginMenu">
{% if app.user is not null %}
	{% if app.user.profile.name is empty %}	
   		{{app.user.email}} |
	{% else %}
   		{{app.user.profile.name}} |
	{% endif %}
{% else %}
		{{ 'Login'|t }} |
{% endif %}
	    </li>

{% if lang == 'es' %}
	    <li><a href={{ path('drufony_home_url',{ 'lang': 'en'} ) }}> English | <a><li>  
{% endif %}
{% if lang == 'en' %}
	    <li><a href={{ path('drufony_home_url',{ 'lang': 'es'} ) }}> Español | <a><li>  
{% endif %}
            <li><span id="carritoResumen"><img src='{{ asset('bundles/customproject/images/carrito.png') }}'></span>
 	    <span id="sumItems">
	    	({{ sumItems }})
	    </span>
	   </li>
		<li>
			<ul id="header_socialmedia">

            					<li><a href="https://facebook.com/macsonshop" target="_blank" rel="nofollow" ><img src='{{ asset('bundles/customproject/images/facebookIcon.png') }}'></a></li>
            					<li><a href="https://twitter.com/macsonshop" target="_blank" rel="nofollow"><img src='{{ asset('bundles/customproject/images/twitterIcon.png') }}'></a></li>
            					<li><a href="https://instagram.com/macsonshop" target="_blank" rel="nofollow"><img src='{{ asset('bundles/customproject/images/InstagramIcon.png') }}'></a></li>
            					<li><a href="https://plus.google.com/+MacsonEs/posts" target="_blank" rel="nofollow"><img src='{{ asset('bundles/customproject/images/googlePlusIcon.png') }}'></a></li>
            					<li><a href="https://www.youtube.com/channel/UCX5ENrQR5rxUOE2LQw6aIkw" target="_blank" rel="nofollow"><img src='{{ asset('bundles/customproject/images/youTubeIcon.png') }}'></a></li>

			</ul>

		</li>

	</ul>

	</div>


{% if type is defined %}


	{% if type=="product" %}

	<h1 id="titulo1" class="textwhite">	
		{{ contentData.title }}			
	</h1>

	{% else %}


	<h1 id="titulo1" class="textwhite"> 	
		{% for word in categorynames | split("-") %}
				{{ word }}
		{% endfor %}
	</h1>

	{% endif %}

{% else %}


<h1 id="titulo1" class="textwhite"> 	
	{{ "Macson Man"|t }}	
</h1>

{% endif %}


{% if homePage is defined %}
<div id="logo"></div> 
<div id="logoPortada_mob"><a href={{ path('drufony_home_url',{ 'lang': lang} ) }}><img alt="macson logo" src='{{ asset('bundles/customproject/images/logoMacson.jpg') }}'><a></div> 
{% else %}
<div id="logo"><a href={{ path('drufony_home_url',{ 'lang': lang} ) }}><img id="logoImg" alt="macson logo" src='{{ asset('bundles/customproject/images/LogoMacson.png') }}'><a></div> 
<div id="logo_mob"><a href={{ path('drufony_home_url',{ 'lang': lang} ) }}><img id="logoImg" alt="macson logo" src='{{ asset('bundles/customproject/images/logoMacson.jpg') }}'><a></div> 
{% endif %}

<div id="mascara"><div id="cerrar" class="underline">[X]</div></div>
