{% include "CustomProjectBundle::base.html.twig" %}

{% set sumItems= 0 %}
{% for item in products %}
	{% set sumItems= sumItems + item.count %}
{% endfor %}

{% if app.request.attributes.get('_route_params') %}

{% set urlSplit = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) | split('-') %}

{% else %}


	{% set urlSplit = '' %}

{% endif %}

{% if outlet is defined %}
	{% set urlSplit = urlSplit|merge(['outlet','hombre']) %}
{% endif %}

<body>

	<div id='header' class="sinEfectos">
	<ul>
            <li> <a href={{ path('macson_stores',{ 'lang': lang} ) }}>
		{{'Stores'|t}} | </a>
	    </li>
	    <li><a href={{ path('macson_category_shoponline',{ 'lang': lang} ) }}> {{ 'Shop On-line' | t }} |</a> </li>  
	    <li><a href={{ path('macson_category_outlet_home',{ 'lang': lang} ) }}> {{ 'Outlet' | t }} | </a></li>  
            <li id="loginMenu">
{% if app.user is not null %}
	{% if app.user.profile.name is empty %}	
   		{{app.user.email}} |
	{% else %}
   		{{app.user.profile.name}} |
	{% endif %}
{% else %}
		{{ 'Login'|t }} |
{% endif %}
	    </li>

{% if sumItems  %}
            <li id="carritoResumen"><img src='{{ asset('bundles/customproject/images/carrito.png') }}'>
 	    <span id="sumItems">
	    	({{ sumItems }}) |
	    </span>
	   </li>
{% else %}
            <li id="carritoResumen">
 	    <span id="sumItems">
	    </span>
	    </li>
{% endif %}		
{% if lang == 'es' %}
	    <li><a href={{ path('drufony_home_url',{ 'lang': 'en'} ) }}> English<a><li>  
{% endif %}
{% if lang == 'en' %}
	    <li><a href={{ path('drufony_home_url',{ 'lang': 'es'} ) }}> Español<a><li>  
{% endif %}
        </ul>

	</div>

{% if homePage is defined %}
<div id="logo"></div> 
{% else %}
			<h1 id="titulo1" class="textwhite">	
	{% for word in urlSplit %}
		{% if not loop.first and not loop.last %}
			{{ word }}
		{% endif %}
	{% endfor %}
			</h1>
<div id="logo"><a href={{ path('drufony_home_url',{ 'lang': lang} ) }}><img id="logoImg" alt="macson logo" src='{{ asset('bundles/customproject/images/LogoMacson.png') }}'><a></div> 
{% endif %}

<div id="mascara"><div id="cerrar" class="underline">{{ 'Close'|t }} [X]</div></div>
