{% set homePage=1 %}

{% include "CustomProjectBundle::header.html.twig" %}


{# <img id="portada" src='{{ asset('bundles/customproject/images/portada1.jpg') }}'/> #} 
{# <img id="portada_mob" src='{{ asset('bundles/customproject/images/portada1_mob.jpg') }}'/> #}
 <a href={{ path('macson_category_specialprice',{'lang':lang}) }}> 
 <img id="portada_mob" src='{{ asset('bundles/customproject/images/midseason.jpg') }}'/> 
</a>
<div id="tipoPagina">hom</div>
<div id="contenedor1">	
		<div class="foto_blank1">
<div id="logoPortada"><a href={{ path('drufony_home_url',{ 'lang': lang} ) }}><img alt="macson logo" src='{{ asset('bundles/customproject/images/LogoMacson.png') }}'><a></div> 
{% include "CustomProjectBundle::login.html.twig" %}		
{% include "CustomProjectBundle::carritoResumen.html.twig" %}		
			<img src='{{ asset('bundles/customproject/images/espacio.png') }}'>
{% include "CustomProjectBundle::menu.html.twig" %}
		</div>
		<div class="foto_blank">
{% include "CustomProjectBundle::video.html.twig" %}
  		<a href={{ path('macson_category_specialprice',{'lang':lang}) }}> 
<img id="cartel" class="center" src='{{ asset('bundles/customproject/images/midseason.jpg') }}'/>
	</a>
			<img src='{{ asset('bundles/customproject/images/espacio.png') }}'>		
		</div>
		<div class="foto_blank">
			<img src='{{ asset('bundles/customproject/images/espacio.png') }}'>	
		</div>

</div>	





{% include "CustomProjectBundle::footer.html.twig" %}

