
{% include "CustomProjectBundle::header.html.twig" %}

        <h2>{{ contentData.Teaser | raw }}</h2>
        <h3>{{ contentData.Description | raw }}</h3>

<div id="tipoPagina">con</div>

<div id="contenedor1">

	<div id="fotoRow">
		<div class="foto">
			<img src='{{ asset('bundles/customproject/images/espacio.png') }}'>		
{% include "CustomProjectBundle::login.html.twig" %}		
{% include "CustomProjectBundle::menu.html.twig" %}		
{% include "CustomProjectBundle::carritoResumen.html.twig" %}		
		</div>
		<div class="foto">
			<img src='{{ asset('bundles/customproject/images/espacio.png') }}'>		
     			<div class="border contenido">
				<h2>{{ contentData.Title }}</h2>
				<br>
{% if contentData.getimages() %}	
				<div class="wd40 inline">
					{% include 'DrufonyCoreBundle::content_common_fields.html.twig' %}
				</div>

        			<div class="wd50 inline padleft15">{{ contentData.Body | raw}}</div>
{% else %}
				
        			<div class="inline padleft15">{{ contentData.Body | raw}}</div>
{% endif %}
			</div>
		</div>
		<div class="foto">
			<img src='{{ asset('bundles/customproject/images/espacio.png') }}'>		
		</div>
	</div>
</div>


{% include "CustomProjectBundle::footer.html.twig" %}
