
{% include "CustomProjectBundle::header.html.twig" %}

{% set im1=numImages.im1 %}
{% set im2=numImages.im2 %}
{% set im3=numImages.im3 %}

{% set image1= asset('bundles/customproject/images/Product/Standard/'~contentData.__get('sgu')~'_1.jpg')  %}
{% set image2= asset('bundles/customproject/images/Product/Standard/'~contentData.__get('sgu')~'_2.jpg')  %}
{% set image3= asset('bundles/customproject/images/Product/Standard/'~contentData.__get('sgu')~'_3.jpg')  %}
<script>
{% set  tipoPag=3 %}
{% if not im2 and not im3 %}	
	{% set  tipoPag=1 %}
	{% set image2= asset('bundles/customproject/images/Product/Standard/'~contentData.__get('sgu')~'_1.jpg')  %}
	var urlImg2 = "{{ asset('bundles/customproject/images/Product/Original/'~contentData.__get('sgu')~'_1.jpg') }}";
{% else %}
	{% if not im2 or not im3 %}	
	{% set  tipoPag=2 %}
		{% if not im2 %}	
			{% set image2=asset('bundles/customproject/images/Product/Standard/'~contentData.__get('sgu')~'_1.jpg')  %}
			{% set image3=asset('bundles/customproject/images/Product/Standard/'~contentData.__get('sgu')~'_3.jpg')  %}
	var urlImg2 = "{{ asset('bundles/customproject/images/Product/Original/'~contentData.__get('sgu')~'_1.jpg') }}";
	var urlImg3 = "{{ asset('bundles/customproject/images/Product/Original/'~contentData.__get('sgu')~'_3.jpg') }}";
		{% else %}
			{% set image2= asset('bundles/customproject/images/Product/Standard/'~contentData.__get('sgu')~'_1.jpg')  %}
			{% set image3= asset('bundles/customproject/images/Product/Standard/'~contentData.__get('sgu')~'_2.jpg')  %}
	var urlImg2 = "{{ asset('bundles/customproject/images/Product/Original/'~contentData.__get('sgu')~'_1.jpg') }}";
	var urlImg3 = "{{ asset('bundles/customproject/images/Product/Original/'~contentData.__get('sgu')~'_2.jpg') }}";
		{% endif %}
	{% else %}
		{% set image2= asset('bundles/customproject/images/Product/Standard/'~contentData.__get('sgu')~'_2.jpg')  %}
		{% set image3= asset('bundles/customproject/images/Product/Standard/'~contentData.__get('sgu')~'_3.jpg')  %}
	var urlImg1 = "{{ asset('bundles/customproject/images/Product/Original/'~contentData.__get('sgu')~'_1.jpg') }}";
	var urlImg2 = "{{ asset('bundles/customproject/images/Product/Original/'~contentData.__get('sgu')~'_2.jpg') }}";
	var urlImg3 = "{{ asset('bundles/customproject/images/Product/Original/'~contentData.__get('sgu')~'_3.jpg') }}";
	{% endif %}
{% endif %}

	var product = {{contentData.__get('id')}};
	var varieties = [ {% for size in contentData.varieties %}{% if loop.last %}{{size.varProdId}}]{% else %}{{size.varProdId}}, {% endif %}{% endfor %};
	var varietiesVal = [ {% for size in contentData.varieties %}{% if loop.last %}'{{size.value}}']{% else %}'{{size.value}}', {% endif %}{% endfor %};
	var sizeSelected = 0;	

</script>
<div id="zoomContainer" class="zoomContainerClass"></div>

<div id="tipoPagina">prod{{ tipoPag }}</div>
<div id="contenedor1">	

{% include "CustomProjectBundle::tallas_mob.html.twig" %}		
		<div id="foto1" class="fotoProd  magnify">
{% include "CustomProjectBundle::login.html.twig" %}
{% if 'OUTLET' in contentData.brand %}
{% set outlet=true %}
{% endif %}		
{% include "CustomProjectBundle::menu.html.twig" %}
{% include "CustomProjectBundle::carritoResumen.html.twig" %}		
{% include "CustomProjectBundle::tallas.html.twig" %}		
			<div id="tituloCat">
				+ {{ "MENU" | t}}
			</div>	
{% if tipoPag==3 %}		
			<div class="large">{{'Click to open'|t}}</div>
			<img class="fotoLarge1 fotoImg1 small" alt={{contentData.title}} src='{{ image1 }}'>
{% else %}
			<div class="foto_blank">	
				<img  src='{{ asset('bundles/customproject/images/espacio.png') }}'>	
			</div>
{% endif %}	
		</div>
		<div id="foto2" class="fotoProd magnify">
			<div class="large">{{'Click to open'|t}}</div>
			<img class="fotoLarge2 fotoImg2 small"  alt={{contentData.title}} src='{{ image2 }}'>
		</div>
		<div id="foto3" class="fotoProd magnify">
{% if tipoPag==1 %}
			<div class="foto_blank">	
				<img  src='{{ asset('bundles/customproject/images/espacio.png') }}'>	
			</div>
{% else %}
			<div class="large">{{'Click to open'|t}}</div>
			<img class="fotoLarge3 fotoImg3 small"  alt={{contentData.title}} src='{{ image3 }}'>
{% endif %}	
{% include "CustomProjectBundle::info_panel.html.twig" %}		
			<div id="titulo">
			<div id="masInfo">PRODUCT INFO +</div>  	
			</div>		
		</div>		
{% include "CustomProjectBundle::info_panel_mob.html.twig" %}		
</div>

{% include "CustomProjectBundle::footer.html.twig" %}

