
{% include "CustomProjectBundle::header.html.twig" %}

{% set im1=numImages.im1 %}
{% set im2=numImages.im2 %}
{% set im3=numImages.im3 %}

{% set image1= asset('bundles/customproject/images/Product/Standard/'~contentData.__get('sgu')~'_1.jpg')  %}
{% set image2= asset('bundles/customproject/images/Product/Standard/'~contentData.__get('sgu')~'_2.jpg')  %}
{% set image3= asset('bundles/customproject/images/Product/Standard/'~contentData.__get('sgu')~'_3.jpg')  %}
<script>
{% set  tipoPag=3 %}
{% if not im2 and not im3 %}	
	{% set  tipoPag=1 %}
	{% set image2= asset('bundles/customproject/images/Product/Standard/'~contentData.__get('sgu')~'_1.jpg')  %}
	var urlImg2 = "{{ asset('bundles/customproject/images/Product/Original/'~contentData.__get('sgu')~'_1.jpg') }}";
{% else %}
	{% if not im2 or not im3 %}	
	{% set  tipoPag=2 %}
		{% if not im2 %}	
			{% set image2=asset('bundles/customproject/images/Product/Standard/'~contentData.__get('sgu')~'_1.jpg')  %}
			{% set image3=asset('bundles/customproject/images/Product/Standard/'~contentData.__get('sgu')~'_3.jpg')  %}
	var urlImg2 = "{{ asset('bundles/customproject/images/Product/Original/'~contentData.__get('sgu')~'_1.jpg') }}";
	var urlImg3 = "{{ asset('bundles/customproject/images/Product/Original/'~contentData.__get('sgu')~'_3.jpg') }}";
		{% else %}
			{% set image2= asset('bundles/customproject/images/Product/Standard/'~contentData.__get('sgu')~'_1.jpg')  %}
			{% set image3= asset('bundles/customproject/images/Product/Standard/'~contentData.__get('sgu')~'_2.jpg')  %}
	var urlImg2 = "{{ asset('bundles/customproject/images/Product/Original/'~contentData.__get('sgu')~'_1.jpg') }}";
	var urlImg3 = "{{ asset('bundles/customproject/images/Product/Original/'~contentData.__get('sgu')~'_2.jpg') }}";
		{% endif %}
	{% else %}
		{% set image2= asset('bundles/customproject/images/Product/Standard/'~contentData.__get('sgu')~'_2.jpg')  %}
		{% set image3= asset('bundles/customproject/images/Product/Standard/'~contentData.__get('sgu')~'_3.jpg')  %}
	var urlImg1 = "{{ asset('bundles/customproject/images/Product/Original/'~contentData.__get('sgu')~'_1.jpg') }}";
	var urlImg2 = "{{ asset('bundles/customproject/images/Product/Original/'~contentData.__get('sgu')~'_2.jpg') }}";
	var urlImg3 = "{{ asset('bundles/customproject/images/Product/Original/'~contentData.__get('sgu')~'_3.jpg') }}";
	{% endif %}
{% endif %}

	var product = {{contentData.__get('id')}};
	var varieties = [ {% for size in contentData.varieties %}{% if loop.last %}{{size.varProdId}}]{% else %}{{size.varProdId}}, {% endif %}{% endfor %};
	var varietiesVal = [ {% for size in contentData.varieties %}{% if loop.last %}'{{size.value}}']{% else %}'{{size.value}}', {% endif %}{% endfor %};
	var sizeSelected = 0;	

</script>
<div id="zoomContainer"></div>

			<div id="tipoPagina">prod{{ tipoPag }}</div>
<div id="contenedor1">	
	<div id="fotoRow">
		<div id="foto1" class="fotoProd f1masgrande  magnify">
{% include "CustomProjectBundle::login.html.twig" %}
{% if 'OUTLET' in contentData.brand %}
{% set outlet=true %}
{% endif %}		
{% include "CustomProjectBundle::menu.html.twig" %}
{% include "CustomProjectBundle::carritoResumen.html.twig" %}		
{% include "CustomProjectBundle::tallas.html.twig" %}		
			<div class="sinEfectos" id="tituloVolver">
				<a  href="javascript:history.back()"> {{ "back" | t}}</a>
			</div>	
			<div id="tituloCat">
				+ {{ "MENU" | t}}
			</div>	
{% if tipoPag==3 %}		
			<div class="large">{{'Click to open'|t}}</div>
			<img class="fotoImg1 small" alt={{contentData.title}} src='{{ image1 }}'>
{% else %}
			<img src='{{ asset('bundles/customproject/images/espacio.png') }}'>	
{% endif %}	
		</div>
		<div id="foto2" class="fotoProd magnify">
			<div class="large">{{'Click to open'|t}}</div>
			<img class="fotoImg2 small"  alt={{contentData.title}} src='{{ image2 }}'>
		</div>
		<div id="foto3" class="fotoProd magnify">
{% if tipoPag==1 %}
			<img src='{{ asset('bundles/customproject/images/espacio.png') }}'>	
{% else %}
			<div class="large">{{'Click to open'|t}}</div>
			<img class="fotoImg3 small"  alt={{contentData.title}} src='{{ image3 }}'>
{% endif %}	
			<div id="infoPanel" class="pad5 border">
				<div class="ref">ref. {{contentData.__get('sgu')}}</div>
				<div class="texto borderBottom">{{contentData.body}}</div>
				<div class="height3"></div>	
				<div class="texto borderBottom pad5 borderBottom">{{contentData.color}}</div>
				<div class="height3"></div>	
				<div class="texto borderBottom">{{contentData.composition}}</div>		
				<div class="height3"></div>	
				<div id="cuidados">
					<div class="texto">{{ "Cares"|t }}+</div>
				</div>	
				<div id="cuidadosPanel" class="border">
					<div class="height3"></div>	
					<img alt="{{'Cares'|t}}" src='{{ asset('bundles/customproject/images/Cares/cuidado'~contentData.cares~'.jpg') }}'>
				</div>
			</div>	
			<div id="titulo">
			<div id="masInfo">PRODUCT INFO +</div>  	
			</div>		
		</div>		
	</div>
</div>

{% include "CustomProjectBundle::footer.html.twig" %}

