

{% include "CustomProjectBundle::header.html.twig" %}

<div id="tipoPagina">pass</div>
<div id="contenedor1">	
{% include "CustomProjectBundle::login.html.twig" %}			
{% include "CustomProjectBundle::carritoResumen.html.twig" %}			
			<div class="table pad10 verticalcenter30 center">
			
			    {{ form_start(accountForm) }}
			    {{ form_errors(accountForm) }}
			     <div class="row">
			      <div class="cell wd80 label align-left" style="margin-bottom:10px">
				{{ form_label(accountForm.email) }}
			      </div>
			      {{ form_errors(accountForm.email) }}
      			      <div class="cell wd80 input" style="margin-bottom:18px">
				{{ form_widget(accountForm.email, { 'attr': { 'class': 'form-control' } }) }}
			      </div>
			     </div>
			     <div class="row">
			      <div class="cell wd80 label align-left" style="margin-bottom:10px">
				{{ form_label(accountForm.newPassword.first) }}
			      </div>
			      <div class="cell wd80 input" style="margin-bottom:18px">
				{{ form_widget(accountForm.newPassword.first, { 'attr': { 'class': 'form-control' } }) }}
			      </div>
			     </div>
			     <div class="row">
			      <div class="cell wd80 label align-left" style="margin-bottom:10px">
				{{ form_label(accountForm.newPassword.second) }}
			      </div>
			      <div class="cell wd80 input" style="margin-bottom:18px">
				{{ form_widget(accountForm.newPassword.second, { 'attr': { 'class': 'form-control' } }) }}
			      </div>
			      </div>
			     <div class="row redtext">
			      {{ form_errors(accountForm.newPassword.first) }}
			     </div>
			     <br>
			      <div>
				{{ form_row(accountForm.save, {'attr': {'class': 'button button-ok'}} ) }}
			      </div>
			    {{ form_end(accountForm) }}
			</div>
			
</div>	

{% include "CustomProjectBundle::footer.html.twig" %}
