

{% include "CustomProjectBundle::header.html.twig" %}

<div id="tipoPagina">pass</div>
<div id="contenedor1">	
{% include "CustomProjectBundle::login.html.twig" %}			
{% include "CustomProjectBundle::carritoResumen.html.twig" %}			
			<div class=" pad10 wd100  verticalcenter30">
			
			    {{ form_start(accountForm) }}
			    {{ form_errors(accountForm) }}
			      <label class="label" style="margin-bottom:10px">
				{{ form_label(accountForm.email) }}
				{% if accountForm.email.vars.required %}
				  <span>*</span>
				{% endif %}
			      </label>
			      {{ form_errors(accountForm.email) }}
			      <label class="input" style="margin-bottom:18px">
				{{ form_widget(accountForm.email, { 'attr': { 'class': 'form-control' } }) }}
			      </label>
			      {{ form_errors(accountForm.newPassword) }}
			      <label class="input" style="margin-bottom:18px">
				{{ form_widget(accountForm.newPassword, { 'attr': { 'class': 'form-control' } }) }}
			      </label>
			     <br>
			      <div>
				{{ form_row(accountForm.save, {'attr': {'class': 'button button-ok'}} ) }}
			      </div>
			    {{ form_end(accountForm) }}
			</div>
			
</div>	

{% include 'DrufonyCoreBundle::block-cookie.html.twig' %}
{% include "CustomProjectBundle::footer.html.twig" %}
