{% include "CustomProjectBundle::header.html.twig" %}

<script>

	var urlImgSize = "{{ asset('bundles/customproject/images/XXXX.png') }}";
	var lang = "{{ lang }}";
</script>

<div id="tipoPagina">cat</div>
<div id="contenedor1">
	{{ 'Select an option'|t }}
	<div id="foto1">
		<div id="menu_size">
			<div class="itemSize" value="americana">
				 {{ 'blazer'|t }}
			</div>	
			| 
			<div class="itemSize" value="punto">
				{{ 'knitted'|t }}
			</div>
			|
			<div class="itemSize" value="traje">
				{{ 'suit'|t }}
			</div>
			|
			<div class="itemSize" value="camisa">
				{{ 'shirt'|t }}
			</div>
			|
			<div class="itemSize" value="pantalones">
				{{ 'trousers'|t }}
			</div>
			|
			<div class="itemSize" value="zapatos">
				{{ 'shoes'|t }}
			</div>
		</div>	
{% include "CustomProjectBundle::login.html.twig" %}			
{% include "CustomProjectBundle::carritoResumen.html.twig" %}
	</div>
	<div id="foto_blank1">

		<img id="sizeImg"  src='{{ asset('bundles/customproject/images/espacio.png') }}'>	
	</div>	
</div>	

{% include "CustomProjectBundle::footer.html.twig" %}
