{% include "CustomProjectBundle::header.html.twig" %}

{% set antProvince = '' %}
{% set contador=0 %} 

<div id="tipoPagina">sto</div>
<div id="contenedor1">

	<div id="fotoRow">	
			<div class="storeDummy">
				{% include "CustomProjectBundle::login.html.twig" %}			
				{% include "CustomProjectBundle::carritoResumen.html.twig" %}
			</div>
			<div class="storeDummy"></div>
	</div>
	<div id="fotoRow" class="hoverborder hoverbggray">	

{% for store in ball %}
	
	{% if  antProvince !=  store.bou_provincia %}
		 
	</div>
	<b>
	<div class="center  wd100 mg-top20 mg-bottom20 height30 fs14 borderBottom">
		{{store.bou_provincia}}
	</div>
	</b>
	<div id="fotoRow" class="hoverbggray">	
	
	{% endif %}
		
	{% set contador=contador+1 %} 
        {% set antProvince=store.bou_provincia %}
			<div class="store">

				<div  class="align-left inline wd30 fs12 height30">
					<b>{{store.bou_poblacion}}</b>
	{% if store.bou_nombre %}
					 <br>{{store.bou_nombre}}
	{% endif %}		
				</div>
				<div  class="align-left inline wd20 height30 fs14">
					{{store.bou_direccion}}
				</div> 
				<div  class="align-left inline wd20 height30 fs14">
					{{'Tel'|t}}. {{store.bou_telefono}}
				</div>
				<div  class="height30 fs12 align-left">
					{{'Opening hours'|t}}: {{store.bou_descripcion}}
				</div>
			</div>

	</div>
	<div id="fotoRow" class="hoverbggray">

{% endfor %}
	</div>	
</div>	

{% include "CustomProjectBundle::footer.html.twig" %}
