{% include "CustomProjectBundle::header.html.twig" %}

{% set antProvince = '' %}
{% set contador=0 %} 

<div id="tipoPagina">sto</div>
<div id="contenedor1">


	<div id="fotoRow">	

{% for store in ball %}
	
	{% if  antProvince !=  store.bou_provincia %}
		 
		{% if  contador%4==1  %}
			<div class="store"></div>
			<div class="store"></div>
			<div class="store"></div>
		{% endif %}
		{% if  contador%4==2  %}
			<div class="store"></div>
			<div class="store"></div>
		{% endif %}
		{% if  contador%4==3  %}
			<div class="store"></div>
		{% endif %}
		{% set contador=0 %}
	</div>
		<b>
		<div class="align-left height90 verticalcenter90 center fs18">
			{{store.bou_provincia}}
		</div>
		</b>
	<div id="fotoRow">	
	
	{% endif %}
		
	{% set contador=contador+1 %} 
        {% set antProvince=store.bou_provincia %}
			<div class="store border">

	{% if loop.first %}
				{% include "CustomProjectBundle::login.html.twig" %}			
				{% include "CustomProjectBundle::carritoResumen.html.twig" %}
	{% endif %}
				<div  class="pad5 fs12 height35 borderBottom bgcolorgray">
					<b>{{store.bou_poblacion}}</b>
	{% if store.bou_nombre is not null %}
					<br>
					{{store.bou_nombre}}
	{% endif %}		
				</div>
				<div  class="pad5 fs14 texto">
					{{store.bou_direccion}}<br>
					{{store.bou_telefono}}<br>
				</div>
				<div  class="pad5 texto fs12">
					{{store.bou_descripcion}}
				</div>
			</div>

	{%if contador%4 == 0  %}
		</div>
		<div id="fotoRow">
	{% endif %}			

{% endfor %}
	</div>	
</div>	

{% include "CustomProjectBundle::footer.html.twig" %}
