
			<div id="tallas" class="tallasStyle">
				<div class="h2 inline bold-text">{{contentData.title}} &nbsp;&nbsp; | &nbsp;&nbsp;       </div> 
				<ul id="listaTallas" class="inline">
{%if contentData.varieties[0].value!= '00_AGOTADO'%}
	{% for size in contentData.varieties if size.stock > 0 %}	
		{%if loop.first%}
			{%if contentData.varieties|length > 1%}
					<li>{{'Select Size'|t}}:</li>
			{% else %}
					<li>{{'Only available in size'|t}}:</li>
			{% endif %}
		{%endif%}			
					<li class="itemTalla">{{size.value}}</li> |							
	{% endfor %}

					<li class="itemTalla sinEfectos"><a href={{ path('macson_size',{ 'lang': lang} ) }}><b>{{ 'Size Guide'|t }}</a></b></li> |							
{% else %}
	{{ 'OUT OF STOCK'|t }}

{% endif %}
				</ul>		
				<div id="tagPriceProducto" class="inline bold-text">
{% if contentData.pricePVP == contentData.firstPrice%}		
					{{ contentData.pricePVP | round (0,'floor')}}<font size="2">,{{ contentData.pricePVP | decimals  }} €</font>
{% else %}
					<a class="tachado">{{ contentData.firstPrice | round (2,'common') }} €</a>    {{contentData.pricePVP | round(0,'floor')}}<font size="2">,{{ contentData.pricePVP | decimals  }} €</font> 
{%endif%}
				</div>			
				<div id="buyBoton" class="buyBotonStyle inline">								
					<button id="boton1" class="button bold-text center">{{'Buy'|t}}</button>		
				</div>
			</div>



