{% include "CustomProjectBundle::header.html.twig" %}
<div id="contenedor1">	
<div id="" class="layout960 maxW960p wd98 oh pad10 align-left">

{% include "CustomProjectBundle::carritoResumen.html.twig" %}		
{% include 'DrufonyCoreBundle::user_config_menu.html.twig' %}
<div class="fl wd65 oh bb column-info">
<div class="wd100 oh bb mg-vertical10">
<form method="GET" class="fl bb wd55 align-right mg-right5">
<select name="addressId" id="AddressId" class="maxW100">
{% for address in addresses %}
<option value="{{ address.id }}" {% if app.request.get('addressId') == address.id %}
selected {% endif %}>{{ address.name }} - {{ address.address }}</option>
{% else %}
<option value="0" {% if app.request.get('addressId') == 0 %}
selected {% endif %}>{{ "New address" | t }}</option>
{% endfor %}
{% if app.request.get('addressId') == 0 and app.request.get('addressId') != null %}
<option value="0" selected>{{ "New address" | t }}</option>
{% endif %}
</select>
</form>
<div class="fl wd35">
<a href="{{ path('drufony_profile_address_edit', {'lang': lang, 'addressId': 0, 'id': id}) }}">{{ "Create
new Address" | t }}</a>
</a>
</div>
<div class="wd100 oh">
{{ form_start(addressForm) }}
{{ form_errors(addressForm) }}
{{ form_errors(addressForm.name) }}
<div class="disIB wd28 mg-right2">
{{ form_label(addressForm.name) }}
</div>
{{ form_widget(addressForm.name, { 'attr': {'class': 'wd69 pad10 mg-bottom20 radius5'} }) }}
{{ form_errors(addressForm.nif) }}
<div class="disIB wd28 mg-right2">
{{ form_label(addressForm.nif) }}
</div>
<div class="disIB wd69">
{{ form_widget(addressForm.nif, { 'attr': {'class': 'wd30 pad10 mg-bottom20 radius5 clear'} }) }}
</div>
{{ form_errors(addressForm.address) }}
<div class="disIB wd28 mg-right2">
{{ form_label(addressForm.address) }}
</div>
{{ form_widget(addressForm.address, { 'attr': {'class': 'wd69 pad10 mg-bottom20 radius5'} }) }}
{{ form_errors(addressForm.countryId) }}
<div class="disIB wd28 mg-right2">
{{ form_label(addressForm.countryId) }}
</div>
{{ form_widget(addressForm.countryId, { 'attr': {'class': 'wd69 pad10 mg-bottom20 radius5'} }) }}
{{ form_errors(addressForm.province) }}
<div class="disIB wd28 mg-right2">
{{ form_label(addressForm.province) }}
</div>
{{ form_widget(addressForm.province, { 'attr': {'class': 'wd69 pad10 mg-bottom20 radius5'} }) }}
{{ form_errors(addressForm.city) }}
<div class="disIB wd28 mg-right2">
{{ form_label(addressForm.city) }}
</div>
{{ form_widget(addressForm.city, { 'attr': {'class': 'wd69 pad10 mg-bottom20 radius5'} }) }}
{{ form_errors(addressForm.postalCode) }}
<div class="disIB wd28 mg-right2">
{{ form_label(addressForm.postalCode) }}
</div>
<div class="disIB wd69">
{{ form_widget(addressForm.postalCode, { 'attr': {'class': 'wd30 pad10 mg-bottom20 radius5 clear'} }) }}
</div>
{{ form_errors(addressForm.phone) }}
<div class="disIB wd20 mg-right10">
{{ form_label(addressForm.phone) }}
</div>
<div class="disIB wd69">
{{ form_widget(addressForm.phone, { 'attr': {'class': 'wd30 pad10 mg-bottom20 radius5'} }) }}
</div>
<div class="wd100 mg-vertical10 align-right">
{{ form_widget(addressForm.send, { 'attr': {'class': 'action-button' }}) }}
</div>
{{ form_end(addressForm) }}
</div>
</div>
</div>
</div>
<script src="/bundles/drufonycore/assets/components/library/jquery/jquery.min.js?v=v1.9.5"></script>
<script>
$('#AddressId').change(function() {
$(this).parents('form').submit();
});
</script>
{% include "CustomProjectBundle::footer.html.twig" %}
