{#
Styles for cookie-container,cookie-notice, cookie-button, cookie-terms-link
must be defined in .css site file, in order to define a custom design for the message.
COOKIE-MODE constant must be defined in customConfig: 1 disabled,
2 accepting mode if user continues browsing , 3 accepting mode if user clicks accept button.

#}
{%if (isConstDefined('COOKIE_MODE'))%}
    {% if constant('COOKIE_MODE') > 1 and constant('COOKIE_MODE') < 4 %}
        {% if app.request.cookies.has('cookie-accept')%}
            {# user has accept the cookie terms #}
        {% else %}
            {% javascripts '@DrufonyCoreBundle/Resources/public/js/block.cookie.js' %}
            <script type='text/javascript' src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% if constant('COOKIE_MODE') == 2 %}
                {% set notice='Cookies help us deliver our services. By using our services, you agree to our use of cookies.'|t %}
            {% endif %}
            {% if constant('COOKIE_MODE') == 3 %}
		{% set notice='Cookies help us deliver our services. Do you accept the our cookie terms?.'|t %}
            {% endif %}
            <div id='cookie-container'>
            <p id='cookie-notice'>
                {{ notice }}
            {% if constant('COOKIE_MODE') == 3 %}
                <p class='cursorpointer' id='cookie-button' data-cookie-domain='{% if isConstDefined('COOKIE_DOMAIN') %}{{constant('COOKIE_DOMAIN')}}{% endif %}'>
                    {{ 'Accept'|t }}  
                </p>
            {% endif %}
            <a href='{{ path('drufony_cookie_terms_url', { 'lang': lang }) }}' id='cookie-terms-link' target='_blank'>
                {{'Learn more'|t}}
            </a>
            </p>
            </div>
       {% endif %}
    {% endif %}
{% endif %}

