    <div class="section" style="overflow:hidden">
        {% if info is defined and info is not empty %}
            <label class="label">
              {{ "Shipping cost" | t }}
            </label>
            <ul>
                <li>{{ info }}</li>
            </ul>
        {% else %}
            <label class="label">
              {{ form_label(form.shipping) }}
              {% if form.shipping.vars.required %}
                <span>*</span>
              {% endif %}
            </label>
            {{ form_errors(form.shipping) }}
            {{ form_widget(form.shipping) }}
        {% endif %}

    </div>

        <label class="label">
          {{ form_label(form.comments) }}
          {% if form.comments.vars.required %}
            <span>*</span>
          {% endif %}
        </label>
        {{ form_errors(form.comments) }}
        <label class="textarea">
          {{ form_widget(form.comments) }}
        </label>

    <div class="clearfix" style="margin-bottom:20px">
        {{ form_widget(form.send, {'attr': {'class': 'button button-ok'}} ) }}
    </div>
