{# For theming customization #}
{% form_theme form 'DrufonyCoreBundle::form_theme_checkout.html.twig' %}

<!-- page title -->
<h1 class="hidden">{{'Checkout' |t}} </h1>
<!--/ page title -->

<div class="checkout-process-wrapper">

{% set step = 1 %}

{# Checkout Method #}


{% if checkoutStep !=  'checkoutMethod' %}
<div id="menucommerce">
{% if checkoutStep == 'shippingInformation' %}
	<div class="titleCheck inline pad15 zindex10 underline">
{% else %}
	<div class="titleCheck inline pad15 zindex10 graytext">
{% endif %}
		<a href='{{ path('drufony_checkout_shipping_info', { 'lang' : lang})}}'>1. {{'Shipping'|t}}</a>
	</div>
{% if checkoutStep == 'billingInformation' %}
	<div class="titleCheck inline pad15 zindex10 underline">
{% else %}
	<div class="titleCheck inline pad15 zindex10 graytext">
{% endif %}
		<a href='{{ path('drufony_checkout_billing_info', { 'lang' : lang})}}'>2. {{'Billing'|t}}</a>
	</div>
{% if checkoutStep == 'shippingMethod' %}
	<div class="titleCheck inline pad15 zindex10 underline">
{% else %}
	<div class="titleCheck inline pad15 zindex10 graytext">
{% endif %}
		<a href='{{ path('drufony_checkout_shipping_method', { 'lang' : lang})}}'>3. {{'Summary'|t}}</a>
	</div>
{% if checkoutStep == 'selectPaymentMethod' %}
	<div class="titleCheck inline pad15 zindex10 underline">
{% else %}
	<div class="titleCheck inline pad15 zindex10 graytext">
{% endif %}
      		<a href='{{ path('drufony_checkout_review_payment', { 'lang' : lang})}}'>4. {{'Payment'|t}}</a>
	</div>
	<div class="clear"></div>
</div>
{% endif %}

{% if userLogged != true %}
      {% if checkoutStep == 'checkoutMethod' %}
<section id="" class="checkout">
      {% set step = step + 1 %}
	 <div class="wd90">
	     <div class="center pad15 fs16">
			{{ "Login to quick buy or"|t }} <a class="underline" href='{{ path('drufony_checkout_without_login', { 'lang' : lang, 'withoutlogin': true})}}'"><b>{{ "click here and create a new user" | t }}</b></a>
	    </div>	
	    <div class="wd40 center">
            {{ form_start(loginForm) }}
            {{ form_errors(loginForm) }}
              <label class="label" style="margin-bottom:10px">
                {{ form_label(loginForm.username) }}
                {% if loginForm.username.vars.required %}
                  <span>*</span>
                {% endif %}
              </label>
              {{ form_errors(loginForm.username) }}
              <label class="input" style="margin-bottom:18px">
                {{ form_widget(loginForm.username, { 'attr': { 'class': 'form-control' } }) }}
              </label>
              <label class="label" style="margin-bottom:10px">
                {{ form_label(loginForm.password) }}
                {% if loginForm.password.vars.required %}
                  <span>*</span>
                {% endif %}
              </label>
              {{ form_errors(loginForm.password) }}
              <label class="input" style="margin-bottom:18px">
                {{ form_widget(loginForm.password, { 'attr': { 'class': 'form-control' } }) }}
              </label>
              {{ form_errors(loginForm.rememberme) }}
              {{ form_widget(loginForm.rememberme) }}
              <div>
                {{ form_row(loginForm.login, {'attr': {'class': 'button button-ok'}} ) }}
              </div>
            {{ form_end(loginForm) }}
		<div class="pad15">
                <a class="underline" href="{{ path('drufony_user_request_forgot_pass', {'lang' : lang }) }}">{{ "Forgot password?" | t }}</a>
		</div>
	</div>
</section>
{% endif %}
{% endif %}

{# Shipping Information #}
  {% if checkoutStep == 'shippingInformation' %}
<section id="shipping_sect" class="checkout">
    {% set step = step + 1 %}
    <div class="wd90">
      	<div class="">
	{{ form_start(form, {'attr': { 'id': 'paymentForm', 'class': 'form' } }) }}
      {% include 'DrufonyCoreBundle::checkout_shipping_info.html.twig' %}
      {{ form_end(form) }}
      </div>
    </div>
</section>
  {% endif %}

{# Billing Information #}
  {% if checkoutStep == 'billingInformation' %}
<section id="billing_sect" class="checkout">
    <div class="wd90">
      <div>
	{{ form_start(form, {'attr': { 'id': 'paymentForm', 'class': 'form' } }) }}
      {% include 'DrufonyCoreBundle::checkout_billing_info.html.twig' %}
      {{ form_end(form) }}
      </div>
    </div>
 </section>
  {% endif %}

{# Shipping Method #}
{% if checkoutStep == 'shippingMethod' %}
<section id="shipping_method_sect" class="checkout">
    {% set step = step + 1 %}
    <div class="wd90">
    	<div class="bb">	
      		{{ form_start(form, {'attr': { 'id': 'paymentForm', 'class': 'form' } }) }}
      		{% include 'DrufonyCoreBundle::checkout_shipping_method.html.twig' %}
      		{{ form_end(form) }}
    	</div>
    </div>
</section>
  {% endif %}

{# Payment Method #}
  {% if checkoutStep == 'selectPaymentMethod' %}
<section id="payment_sect" class="checkout" style="margin-bottom:18px">
    {% set step = step + 1 %}
    <div class="wd90">
      <form id='payment_options' action="{{ path('drufony_checkout_review_payment', {'lang' : lang} ) }}" method="post">
	{% if data is defined %}
	<input type="hidden" name="Ds_Merchant_Amount" value="{{  data.predefined_data.sermepa_express_checkout.Amount}}" />
	<input type="hidden" name="Ds_Merchant_Currency" value="{{data.predefined_data.sermepa_express_checkout.currency}}" />
	<input type="hidden" name="Ds_Merchant_Order" value="{{data.predefined_data.sermepa_express_checkout.Order_Number}}" />
	<input type="hidden" name="Ds_Merchant_MerchantData" value="{{data.predefined_data.sermepa_express_checkout.Merchant_Data}}" />
	<input type="hidden" name="Ds_Merchant_MerchantCode" value="{{data.predefined_data.sermepa_express_checkout.Merchant_Code}}" />
	<input type="hidden" name="Ds_Merchant_Terminal" value="{{data.predefined_data.sermepa_express_checkout.Terminal}}" />
	<input type="hidden" name="Ds_Merchant_TransactionType" value="{{data.predefined_data.sermepa_express_checkout.Transaction_Type}}" />
	<input type="hidden" name="Ds_Merchant_MerchantURL" value="{{data.predefined_data.sermepa_express_checkout.return_url}}" />
	<input type="hidden" name="Ds_Merchant_MerchantSignature" value="{{data.predefined_data.sermepa_express_checkout.Merchant_Signature}}" /> 
	<input type="hidden" name="Ds_Merchant_UrlOK" value="{{data.predefined_data.sermepa_express_checkout.return_url_ok}}" /> 
	{% endif %}
        
        <div class="wd30 center">
	{{ form_widget(form.method) }}

	</div>
	
        <div class="wd90 center">

        {{ form_widget(form.send, {'attr': {'class': 'button button-ok mg-bottom15'}} ) }}
	{{ form_rest(form) }}	

	</div>

    </form>
</div>
</section>
  {% endif %}

</div>
<div style="clear:both"></div>
{% if data is defined %}
<script type="text/javascript">
history.navigationMode = 'compatible';
$(document).ready(function(){
	alert("sometext");
	$("#payment_options").submit(function(e) {		
		e.preventDefault();
    		url = "{{ path('drufony_checkout_review_payment', { 'lang' : lang})}}";
		var checked_site_radio = $("#jms_choose_payment_method_method_1:checked").val();
		if(checked_site_radio=='sermepa_express_checkout'){
			url = "{{data.predefined_data.sermepa_express_checkout.send_url}}";
		}
		form = $(this);
		alert(form.serialize()); 
		form.attr('action' ,url); //give it the action url ); 
           	form.unbind('submit').submit(); //submit it...
	
	});



});
</script>
{% endif %}

