    <div class="section" style="overflow:hidden">
        {% if info is defined and info is not empty %}
        {% else %}
            <label class="label">
              {{ form_label(form.shipping) }}
              {% if form.shipping.vars.required %}
                <span>*</span>
              {% endif %}
            </label>
            {{ form_errors(form.shipping) }}
            {{ form_widget(form.shipping) }}
        {% endif %}
          <div class="center borderBottom">
            {% for item in progress.cartItems%}
                <div>
                    <div class="wd10 inline align-left"> {{ item.count }} {{'U.'|t}}</div>
                    <div class="wd50 inline align-left"> {{ item.product.title }} </div>
                    <div class="align-right"> {{ (item.product.pricePVP*item.count) | number_format(2) }}€</div>
                </div><br>
            {% endfor %}
              {% set discountClarification = '' %}
              {% if (progress.discount > 0 and progress.discountType == 1) %}
                {% set discountClarification = '(' ~ progress.couponDiscount ~ '%' ~ ')'  %}
              {% endif %}
              <div class="wd100">
	      {% if progress.discount > 0 %}
                <div class="inline align-left">{{ "Disccount" | t }}:</div>
                <div class="align-right">{{ progress.discount | number_format(2) }} {{discountClarification}}€</div><br>
	      {% endif %}
                <div class="inline align-left fs-12">{{ "Shipping cost" | t }}</div>
                <div class="align-right fs-12">{{ shippingPrice | number_format(2) }}€</div><br>
		<div class="inline align-left"><br><b>{{ "Total" | t }}</b></div>
                <div class="align-right"><b><br>{{ (progress.totalDiscounted + shippingPrice)| number_format(2)  }}€</b></div><br>
              </div>
          </div>
	<div class="borderBottom center">
      {% if progress.shippingInfo is not empty %}
        <div class="wd45 pad15 fs-12 inline"><b>{{ 'Shipping Info'|t }} <a class="underline" href='{{ path('drufony_checkout_shipping_info', { 'lang' : lang})}}'>{{'Edit' |t}}</b></a><br>
              {{progress.shippingInfo.name}}<br>
              {{progress.shippingInfo.address}}, {{progress.shippingInfo.city}}<br>	
              {{progress.shippingInfo.postalCode}}, {{progress.shippingInfo.provinceName}}, {{progress.shippingInfo.countryName}}. <br>
              T: {{progress.shippingInfo.phone}}
        </div>
      {% endif %}

      {% if progress.billingInfo is not empty %}

        <div class="pad15 fs-12"><b>{{ 'Billing Info'|t }} <a class="underline" href='{{ path('drufony_checkout_billing_info', { 'lang' : lang})}}'>{{'Edit' |t}}</b></a>
          <div>
              {{progress.billingInfo.name}}<br>
              {{progress.billingInfo.address}}, {{progress.billingInfo.city}}<br>	
              {{progress.billingInfo.postalCode}}, {{progress.billingInfo.provinceName}}, {{progress.billingInfo.countryName}}. <br>
            T: {{progress.billingInfo.phone}}
          </div>
        </div>
      {% endif %}
	</div><br>

      {% if progress.shippingMethod is not empty %}
        <div class="filled">Shipping Method  <a class="underline" href='{{ path('drufony_checkout_shipping_method', { 'lang' : lang})}}'>{{'Edit' |t}}</a>
          <div>
            {{progress.shippingMethod.title}}
          </div>
        </div>
      {% endif %}
        <label class="label wd50 center">
          {{ form_label(form.comments) }}
          {% if form.comments.vars.required %}
            <span>*</span>
          {% endif %}
        </label>
        {{ form_errors(form.comments) }}
        <label class="textarea wd50 center">
          {{ form_widget(form.comments) }}
        </label>
    </div>

    <div class="clearfix" style="margin-bottom:20px">
        {{ form_widget(form.send, {'attr': {'class': 'button button-ok'}} ) }}
    </div>
