{# For theming customization #}
{% form_theme form 'DrufonyCoreBundle::form_theme_checkout.html.twig' %}

{% include "CustomProjectBundle::login.html.twig" %}		
{% include "CustomProjectBundle::carritoResumen.html.twig" %}		
<!-- page title -->
<h1 class="page-title">{{'Checkout' |t}} </h1>
<!--/ page title -->

<div class="checkout-process-wrapper">

{% set step = 1 %}

{# Checkout Method #}
<section class="checkout wd100 bb">
  {% if userLogged != true %}
      {% set step = step + 1 %}
      {% if checkoutStep == 'checkoutMethod' %}
        <div class="fl wd70 bb">
          <h2 class="active"><span>1</span>Checkout method</h2>
          {{ form_start(form, {'attr': { 'id': 'paymentForm', 'class': 'form' } }) }}
          {% include 'DrufonyCoreBundle::checkout_login_method.html.twig' %}
          {{ form_end(form) }}
        </div>
        {% include 'DrufonyCoreBundle::checkout_your_progress.html.twig' %}
      {% else  %}
        <div class="fl wd70 bb">
          <a href='{{ path('drufony_checkout_login', { 'lang' : lang})}}'>
            <h2><span>1</span>Checkout method</h2>
          </a>
        </div>
      {% endif %}
  {% else %}
    {% set step = step + 1 %}
    <div class="fl wd70 bb">
      <h2 style="color:#BFBFBF"><span>&#10003;</span>Checkout method</h2> 
    </div>
  {% endif %}
</section>


{# Shipping Information #}
<section class="checkout wd100 bb">
  {% if checkoutStep == 'shippingInformation' %}
    {% set step = step + 1 %}
    <div class="fl wd70 bb">
      <h2 class="active"><span>2</span>Shipping information</h2>
      {{ form_start(form, {'attr': { 'id': 'paymentForm', 'class': 'form' } }) }}
      {% include 'DrufonyCoreBundle::checkout_shipping_info.html.twig' %}
      {{ form_end(form) }}
    </div>
    {% include 'DrufonyCoreBundle::checkout_your_progress.html.twig' %}
  {% else %}
    {% set step = step + 1 %}
    <div class="fl wd70 bb">
      {% if checkoutMethodCompleted %}
      <a href='{{ path('drufony_checkout_shipping_info', { 'lang' : lang})}}'>
        <h2><span>2</span>Shipping information</h2>
      </a>
      {% else %}
        <h2><span>2</span>Shipping information</h2>
      {% endif %}
    </div>
  {% endif %}
</section>

{# Billing Information #}
<section class="checkout wd100 bb">
  {% if checkoutStep == 'billingInformation' %}
    <div class="fl wd70 bb">
      <h2 class="active"><span>3</span>Billing Information</h2>
      {{ form_start(form, {'attr': { 'id': 'paymentForm', 'class': 'form' } }) }}
      {% include 'DrufonyCoreBundle::checkout_billing_info.html.twig' %}
      {{ form_end(form) }}
    </div>
    {% include 'DrufonyCoreBundle::checkout_your_progress.html.twig' %}
  {% else %}
    <div class="fl wd70 bb">
      {% if checkoutMethodCompleted %}
      <a href='{{ path('drufony_checkout_billing_info', { 'lang' : lang})}}'>
        <h2><span>3</span>Billing Information</h2>
      </a>
      {% else %}
        <h2><span>3</span>Billing Information</h2>
      {% endif %}
    </div>
  {% endif %}
 </section>
{# Shipping Method #}
<section class="checkout wd100 bb">
  {% if checkoutStep == 'shippingMethod' %}
    {% set step = step + 1 %}
    <div class="fl wd70 bb">
      <h2 class="active"><span>4</span>Shipping method</h2>
      {{ form_start(form, {'attr': { 'id': 'paymentForm', 'class': 'form' } }) }}
      {% include 'DrufonyCoreBundle::checkout_shipping_method.html.twig' %}
      {{ form_end(form) }}
    </div>
      {% include 'DrufonyCoreBundle::checkout_your_progress.html.twig' %}
  {% else %}
    {% set step = step + 1 %}
    <div class="fl wd70 bb">
      {% if checkoutMethodCompleted %}
      <a href='{{ path('drufony_checkout_shipping_method', { 'lang' : lang})}}'>
        <h2><span>4</span>Shipping method</h2>
      </a>
      {% else %}
        <h2><span>4</span>Shipping method</h2>
      {% endif %}
    </div>
  {% endif %}
</section>

{# Payment Method #}
<section class="checkout checkout-cart wd100 bb" style="margin-bottom:18px">
  {% if checkoutStep == 'paymentMethod' %}
    {% set step = step + 1 %}
    <div class="fl wd70 bb">
      <h2 class="active"><span>5</span>Payment method</h2>
      <form id='payment_options' action="{{ path('drufony_checkout_review_payment', {'lang' : lang} ) }}" method="post">
        {{ form_widget(form) }}
	{% if data is defined %}
	<input type="hidden" name="Ds_Merchant_Amount" value="{{  data.predefined_data.sermepa_express_checkout.Amount}}" />
	<input type="hidden" name="Ds_Merchant_Currency" value="{{data.predefined_data.sermepa_express_checkout.currency}}" />
	<input type="hidden" name="Ds_Merchant_Order" value="{{data.predefined_data.sermepa_express_checkout.Order_Number}}" />
	<input type="hidden" name="Ds_Merchant_MerchantData" value="{{data.predefined_data.sermepa_express_checkout.Merchant_Data}}" />
	<input type="hidden" name="Ds_Merchant_MerchantCode" value="{{data.predefined_data.sermepa_express_checkout.Merchant_Code}}" />
	<input type="hidden" name="Ds_Merchant_Terminal" value="{{data.predefined_data.sermepa_express_checkout.Terminal}}" />
	<input type="hidden" name="Ds_Merchant_TransactionType" value="{{data.predefined_data.sermepa_express_checkout.Transaction_Type}}" />
	<input type="hidden" name="Ds_Merchant_MerchantURL" value="{{data.predefined_data.sermepa_express_checkout.return_url}}" />
	<input type="hidden" name="Ds_Merchant_MerchantSignature" value="{{data.predefined_data.sermepa_express_checkout.Merchant_Signature}}" /> 
	<input type="hidden" name="Ds_Merchant_UrlOK" value="{{data.predefined_data.sermepa_express_checkout.return_url_ok}}" /> 
	{% endif %}

        <input type="submit" />
    </form>

</div>
      {% include 'DrufonyCoreBundle::checkout_your_progress.html.twig' %}
  {% else %}
    {% set step = step + 1 %}
    <div class="fl wd70 bb">
      {% if checkoutMethodCompleted %}
      <a href='{{ path('drufony_checkout_review_payment', { 'lang' : lang})}}'>
        <h2><span>5</span>Payment method</h2>
      </a>
      {% else %}
        <h2><span>5</span>Payment method</h2>
      {% endif %}
    </div>
  {% endif %}
</section>


</div>
<div style="clear:both"></div>
{% if data is defined %}
<script type="text/javascript">
history.navigationMode = 'compatible';
$(document).ready(function(){
	alert("sometext");
	$("#payment_options").submit(function(e) {		
		e.preventDefault();
    		url = "{{ path('drufony_checkout_review_payment', { 'lang' : lang})}}";
		var checked_site_radio = $("#jms_choose_payment_method_method_1:checked").val();
		if(checked_site_radio=='sermepa_express_checkout'){
			url = "{{data.predefined_data.sermepa_express_checkout.send_url}}";
		}
		form = $(this);
		alert(form.serialize()); 
		form.attr('action' ,url); //give it the action url ); 
           	form.unbind('submit').submit(); //submit it...
	
	});
});
</script>
{% endif %}

