<html>
    <body>
        <h1>{{ 'Translate node interface'|t }}</h1>
        {% if nodes is defined and nodes is not empty %}
        <table>
            <tr>
                <th> {{ 'Source'|t }} </th>
                <th> {{ 'Languages'|t }} </th>
                <th> {{ 'Operations'|t}} </th>
            </tr>
            {% for node in nodes %}
                <tr>
                    <td>{{ node[constant('DEFAULT_LANGUAGE')].title }}</td>
                    <td>
                        {% for langKey,name in languages %}
                            {% if langKey != constant('DEFAULT_LANGUAGE') %} 
                                {% if node[langKey] is defined %}
                                    <strike>{{ langKey }}</strike>
                                {% else %}
                                    {{ langKey }}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                    {# FIXME: Adapt this to edit/delete nodes and not strings

                        <a href="{{ path('drufony_translate_edit', {'lid': node[constant('DEFAULT_LANGUAGE')].nid}) }}">{{ 'Edit'|t }}</a>
                        <a href="{{ path('drufony_translate_delete', {'lid': node[constant('DEFAULT_LANGUAGE')].nid}) }}"
                        onclick="return confirm('{{"Are you sure you want to delete the string" | t }} {{node[constant('DEFAULT_LANGUAGE')].title}}?')">{{ 'Delete'|t }}</a>
                    #}
                    </td>
                </tr>
            {% endfor %}
    </table>
  {% elseif searched %}
      <p>{{ "Any translations has been found" | t }}</p>
  {% endif %}
  </body>
</html>

