<h4>Images:</h4>
<div>
{% for image in contentData.getImages() %}
<p><img src="{{ image.uri|thumbnail('style200x200') }}" alt='{{ image.alt }}'></p>
{% else %}
<p>No images found</p>
{% endfor %}
</div>

<h4>Attachments:</h4>
<div>
{% for attach in contentData.getAttachments() %}
<p><a href='/{{ attach.uri }}'>{{ attach.title }}</a></p>
{% else %}
<p>No attachments found</p>
{% endfor %}
</div>

<h4>Videos:</h4>
<div>
{% for video in contentData.getVideos() %}
<p><iframe src="//player.vimeo.com/video/{{ video.token }}" width="220" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></p>
{% else %}
<p>No videos found</p>
{% endfor %}
</div>

<h4>Links:</h4>
<div>
{% for link in contentData.getLinks() %}
{% set target = '' %}
{% if link.newWindow == 1%}
{% set target = '_blank' %}
{% endif %}
<p><a href='{{ link.url }}' target='{{ target }}'>{{ link.title }}</a></p>
{% else %}
<p>No links found</p>
{% endfor %}
</div>

{% if contentData.getLocation() %}
<h4>Location:</h4>
<div>
<div id="googleMap" style="height:380px;" data-longitude='{{ contentData.getLongitude() }}' data-latitude='{{ contentData.getLatitude() }}'></div>
</div>

<!--FIXME: store google maps api key somewhere else -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYGf74EcBVM8rXh2vxjJcGoytZCrZn3W0&sensor=true"></script>
<script>
var map;
var marker;

function initialize() {
    latitude = document.getElementById('googleMap').getAttribute('data-latitude');
    longitude = document.getElementById('googleMap').getAttribute('data-longitude');
    var myCenter=new google.maps.LatLng(latitude, longitude);
    var mapProp = {
        center:myCenter,
        zoom:14,
        mapTypeId:google.maps.MapTypeId.ROADMAP
    };

    var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

    var marker=new google.maps.Marker({
          position:myCenter,
                });

    marker.setMap(map);
}

google.maps.event.addDomListener(window, 'load', initialize);

</script>
{% endif %}


