<?xml version="1.0" encoding="UTF-8"?>
{% set shippingcost='' %}
{% set total_product_no_vat='' %}
{% set total_no_vat='' %}
{% set percentage_vat=0  %}
{% set total=0  %}
		{% set shippingcost=order.shippingValue %}
		{% set total_product_no_vat=order.subtotal_with_vat %}
		{% set total=order.total %}
<pdf>

<dynamic-page>

<placeholders>
    <header>
	<div height="50px" width="100%">
		<stylesheet>
			<attribute name="text-align" value="right" />
			<attribute name="margin-right" value="10px" />
			<attribute name="font-size" value="12px" />	
		</stylesheet>
	 	Macon S.A.<br></br> 
		NIF A-08008583.<br></br>
		Avda. J.V. Foix, 66. Barcelona.<br></br>
		08034. Barcelona.<br></br>
		Tlf. 93 237 86 86<br></br>
	</div>
    </header>
    <footer>
	<div height="50px" width="100%">
		<stylesheet>
			<attribute name="text-align" value="center" />
			<attribute name="margin-left" value="30px" />
			<attribute name="font-size" value="10px" />	
		</stylesheet>
		Macon S.A. NIF A-08008583. Registro Mercantil de Barcelona Tomo 5777 Folio 58 Hoja B65942 5ª
	</div>
    </footer>
</placeholders>

<div id="contenedor1">
        <!-- pdf_image('BundleName:image-name.extension') -->

	<div class="logo">
		<stylesheet>
    			<attribute name="margin-left" value="300px" />
    			<attribute name="font-size" value="14px" />	
		</stylesheet>
		<img src='{{ pdf_image('CustomProjectBundle:LogoMacson.png') }}'/>
	</div>
	<h1>
		{{'Invoice'|t}}
	</h1>
	<div>	
		<stylesheet>
    			<attribute name="margin-top" value="5px" />	
		</stylesheet>
		<div>{{'Date'|t}}: {{'now'|date('d/m/y')}}</div>
		<div>{{'Invoice Number'|t}}: {{order.orderId}}</div>
		<div>{{'Customer Id'|t}}: {{order.uid}}</div>
		<div>{{'Name'|t}}: {{billingInfo.name}}</div>
		<div>{{'NIF'|t}}: {{billingInfo.nif}}</div>
		<div>{{'Address'|t}}:
			 {{billingInfo.address}}. {{billingInfo.city}}. {{billingInfo.postalCode}}. {{billingInfo.province}}
		</div>
	</div>
	<table>
		<stylesheet>
    			<attribute name="margin-top" value="20px" />	
		</stylesheet>
		<tr>
			<td id="celda">
				<stylesheet>
    					<attribute name="margin-top" value="5px" />	
    					<complex-attribute name="border" type="none" />	
    					<attribute name="text-align" value="center" />	
    					<attribute name="height" value="20px" />	
				</stylesheet>
				{{ 'Units'|t }}
			</td>
			<td extends="celda">{{ 'Code'|t}}-{{'Size'|t}}</td>
			<td extends="celda">
				{{'Product Name'|t}}
				<stylesheet>
    					<attribute name="width" value="300px" />	
				</stylesheet>
			</td>
			<td extends="celda">{{ 'Price Vat incl.'|t }}</td>
		</tr>		
	</table>
  	<table>
		<stylesheet>
			<complex-attribute name="border" color="black" />	
    			<attribute name="margin-top" value="5px" />	
		</stylesheet>
	{% for item in orderProducts %}
		{% set percentage_vat=item.percentage_vat  %}
				<tr>
					<td extends="celda">
						{{ item.quantity }}
					</td>
					<td extends="celda">{{ item.sgu  }}-{{item.varieties}}</td>
					<td extends="celda">
						<stylesheet>
    							<attribute name="width" value="300px" />	
						</stylesheet>
						{{ item.title}}
					</td>
					<td extends="celda">{{ item.pricePVP }} €</td>
				</tr>
	{% endfor %}
	</table>
	<div>
		<stylesheet>
    			<attribute name="text-align" value="right" />	
			<complex-attribute name="border" color="black" />	
    			<attribute name="margin-top" value="20px" />	
    			<attribute name="padding" value="10px" />	
		</stylesheet>
	{% set total_no_vat = (total_product_no_vat + shippingcost/(1+(percentage_vat/100))) %} 
			<div>{{ 'Shipping Cost'|t }}: {{ shippingcost|number_format(2) }} €</div>
			<div>{{ 'Total without VAT'|t }}: {{ total|number_format(2) }} €</div>
			<div>{{ 'Taxable base'|t }}: {{ total_no_vat|number_format(2) }} €</div>
			<div>{{ 'Vat'|t }}({{ percentage_vat|number_format(2) }} %): {{ (total-total_no_vat)|number_format(2) }} €</div>
			<div><b>{{ 'Total'|t }}: {{ (total_product_no_vat*(1+percentage_vat/100))|number_format(2) }} €</b></div>
		
	</div>
</div>

</dynamic-page>

</pdf>
