<html>
<body>
<h1>{{ "Item menu Form" | t }}</h1>
{{ form_start(form) }}
<div class="form-item">
{{ form_row(form.type) }}
</div>
<div class="form-item">
{{ form_row(form.linkText) }}
</div>
<div class="form-item">
{{ form_row(form.url) }}
</div>
<div class="form-item">
{{ form_row(form.title) }}
</div>
<div class="form-item">
{{ form_row(form.parentId) }}
</div>
<div class="form-item">
{{ form_row(form.weight) }}
</div>
<div class="form-item">
{{ form_row(form.userTarget) }}
</div>
<div class="form-item">
{{ form_row(form.lang) }}
</div>
{{ form_end(form) }}
</body>
</html>
