
{% set sumPrice= 0 %}
{% set shippingcost='' %}
{% set total_product_no_vat='' %}
{% set total_no_vat='' %}
{% set percentage_vat=0  %}
{% set total=0  %}


	{% set shippingcost=order.shippingValue %}
	{% set total_product_no_vat=order.subtotal_with_vat %}
	{% set total=order.total %}



{% include "CustomProjectBundle::header.html.twig" %}



<div id="contenedor1">

	<div id="fotoRow">
		<div class="foto">
			{% include "CustomProjectBundle::login.html.twig" %}
			{% include "CustomProjectBundle::carritoResumen.html.twig" %}		
			<div id="orderDetailList" class="border pad10 overflowy ">
		<div class= "row height102 pad5 fs-11">
			<div class="cell pad5 wd10">
			</div>		
			<div class="cell pad5 wd10">{{'Units'|t}}</div>
			<div class="cell pad5 wd10">
				{{ 'Reference'|t}}
			</div>
			<div class="cell pad5 wd20">
				{{ 'Product'|t}}
			</div>
			<div class="cell pad5 wd10">{{ 'Size'|t}}</div>
			<div class="cell wd10 pad5">
				{{ 'Price'|t}}
			</div>
		</div>
		{% for item in orderProducts %}
			{% set percentage_vat=item.percentage_vat  %}
		<div class= "row height102 pad5">
			<div class="cell pad5 wd10">
				<a href={{ path('drufony_general_url',{'url' : item.target, 'lang': lang} ) }}>
					<img src='{{ asset('bundles/customproject/images/Product/Thumb/'~item.sgu~'_1.jpg') }}'>
				</a>
			</div>		
			<div class="cell pad5 wd10">{{ item.quantity }}</div>
			<div class="cell pad5 wd10">
				{{ item.sgu  }}
			</div>
			<div class="cell pad5 wd20">
				{{ item.title }}
			</div>
			<div class="cell pad5 wd10">{{ item.varieties }}</div>
			<div class="cell wd10 pad5">
				{{ item.pricePVP | round(0,'floor')}}<font size="1">,{{ item.pricePVP | decimals  }} €</font>
			</div>
{% set sumPrice= sumPrice + item.pricePVP*item.quantity %}
		</div>
		{% endfor %}

		<br>	
		<br>	

			<div class="mg-right10">
		{% set total_no_vat = (total_product_no_vat + shippingcost/(1+(percentage_vat/100))) %} 
				<div class="pad5 alignright fs-11">{{ 'Total Product'|t }}: {{ (total_product_no_vat*(1+percentage_vat/100))|number_format(2) }} €</div>
				<div class="pad5 alignright fs-11">{{ 'Shipping Cost'|t }}: {{ shippingcost|number_format(2) }} €</div>
				<div class="pad5 alignright fs-11">{{ 'Vat'|t }}({{ percentage_vat|number_format(2) }} %): {{ (total-total_no_vat)|number_format(2) }} € </div>
				<div class="pad5 alignright fs-11">{{ 'Taxable base'|t }}: {{ total_no_vat|number_format(2) }} €</div>
				<div class="pad5 alignright"><b>{{ 'Total'|t }}: {{ total|number_format(2) }} €</b></div>
			</div>	
			</div>
			<img src='{{ asset('bundles/customproject/images/espacio.png') }}'>		
		</div>
		<div class="foto">
			<img src='{{ asset('bundles/customproject/images/espacio.png') }}'>		
		</div>
		<div class="foto">
			<img src='{{ asset('bundles/customproject/images/espacio.png') }}'>		
		</div>
	</div>
</div>


{% include "CustomProjectBundle::footer.html.twig" %}





