
{% include "CustomProjectBundle::header.html.twig" %}

<div id="contenedor1">	
<div id="" class="layout960 maxW960p wd98 oh pad10 align-left">
    {% include 'DrufonyCoreBundle::user_config_menu.html.twig' %}
{% include "CustomProjectBundle::carritoResumen.html.twig" %}		
    <div class="fl wd65 oh bb column-info">
    {{ form_start(profileForm) }}
    {{ form_errors(profileForm) }}

    {{ form_errors(profileForm.name) }}
    <div class="disIB wd28 mg-right2">
      {{ form_label(profileForm.name) }}
    </div>
    {{ form_widget(profileForm.name, { 'attr': {'class': 'wd69 pad10 mg-bottom20 radius5'} }) }}



    {{ form_errors(profileForm.mobile) }}
    <div class="disIB wd28 mg-right2">
      {{ form_label(profileForm.mobile) }}
    </div>
    {{ form_widget(profileForm.mobile, { 'attr': {'class': 'wd69 pad10 mg-bottom20 radius5'} }) }}

    {{ form_errors(profileForm.phone) }}
    <div class="disIB wd28 mg-right2">
      {{ form_label(profileForm.phone) }}
    </div>
    {{ form_widget(profileForm.phone, { 'attr': {'class': 'wd69 pad10 mg-bottom20 radius5'} }) }}

    <div class="wd100 mg-vertical10 align-right">
      {{ form_widget(profileForm.save, { 'attr': {'class': 'action-button' }}) }}
    </div>

    {{ form_end(profileForm) }}
    </div>
</div>
</div>
{% include "CustomProjectBundle::footer.html.twig" %}

