<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
    <channel>
        <title>{{ channel.title }}</title>
        <link>{{ app.request.uriForPath(path('drufony_general_url', { 'lang': lang, 'url': channel.link })) }}</link>
        <description> {{ channel.title }}</description>
        {% for item in channel.items %}
            {% set itemUrl = app.request.uriForPath(path('drufony_general_url', { 'lang': lang, 'url': item.link})) %}
          <item>
            <title>{{ item.title }}</title>
            <link>{{ itemUrl }}</link>
            <description>{{ item.description }}</description>
            <pubDate>{{ item.publicationDate }}</pubDate>
            <guid>{{ itemUrl }}</guid>
          </item>
        {% endfor %}
    </channel>
</rss>
