{% set activeProfile = '' %}
{% set activeAccount = '' %}
{% set activeAddress = '' %}
{% set activeOrders = '' %}
{% if itemConfigMenu == 'profile' %}
  {% set activeProfile = 'bg-active' %}
{% endif %}
{% if itemConfigMenu == 'account' %}
  {% set activeAccount = 'bg-active' %}
{% endif %}
{% if itemConfigMenu == 'address' %}
  {% set activeAddress = 'bg-active' %}
{% endif %}
{% if itemConfigMenu == 'orders' %}
  {% set activeOrders = 'bg-active' %}
{% endif %}

<aside class="column-menu wd30 fl bb mg-right2 radius5 pad10">
  <ul id="configMenu">

      <h3 class="pad-horizontal10 mg-vertical10">{{ "Account config" | t }}</h3>
       <p><span class="pad-horizontal10">{{ user.username }}</p>
      <li class="first"><a href="{{path('drufony_profile_edit', {'lang': lang, 'id': id}) }}" class="{{activeProfile}}" >{{ "Edit profile" | t }}</a></li>
      <li class="second"><a href="{{path('drufony_account_edit', {'lang': lang, 'id': id}) }}" class="{{activeAccount}}" >{{ "Account" | t }}</a></li>
      <li class="third"><a href="{{path('drufony_profile_address_edit', {'lang': lang, 'id': id}) }}" class="{{activeAddress}}" >{{ "Addresses" | t }}</a></li>

      </li>
  </ul>
</aside>
