
   

{% include "CustomProjectBundle::header.html.twig" %}


<div id="contenedor1">

	<div id="fotoRow">
		<div class="foto">
			<img src='{{ asset('bundles/customproject/images/espacio.png') }}'>		
     			<div class="contenido">
				<h1>{{ "Thank you for your order."|t }}</h1>
        			<p>{{'Your order has been received'}} 
			</div>
		</div>
		<div class="foto">
			<img src='{{ asset('bundles/customproject/images/espacio.png') }}'>		
		</div>
		<div class="foto">
			<img src='{{ asset('bundles/customproject/images/espacio.png') }}'>		
		</div>
	</div>
</div>


{% include "CustomProjectBundle::footer.html.twig" %}
