
   

{% include "CustomProjectBundle::header.html.twig" %}


<div id="contenedor1">

	<div id="fotoRow">
		<div class="foto">
			{% include "CustomProjectBundle::login.html.twig" %}
			{% include "CustomProjectBundle::menu.html.twig" %}
			<img src='{{ asset('bundles/customproject/images/espacio.png') }}'>		
		</div>
		<div class="foto">
     			<div class="contenido mg-top20 mg-left20">
				<br>
				<br>
				<br>
				<h1>{{ "Thank you for your order."|t }}</h1>
				<br>
        			<p>{{'Your order has been received'}} 
			</div>
			<img src='{{ asset('bundles/customproject/images/espacio.png') }}'>		
		</div>
		<div class="foto">
			<img src='{{ asset('bundles/customproject/images/espacio.png') }}'>		
		</div>
	</div>
</div>


{% include "CustomProjectBundle::footer.html.twig" %}
