
   

{% include "CustomProjectBundle::header.html.twig" %}

<script>




ga('require', 'ecommerce');

ga('ecommerce:addTransaction', {
  'id': '{{order.orderId}}',                     // Transaction ID. Required.
  'affiliation': 'Macson Shop',   // Affiliation or store name.
  'revenue': '{{order.total}}',               // Grand Total.
  'shipping': '{{order.shippingValue}}',                  // Shipping.
  'tax': '{{ (order.total-order.total/1.21)|round(2)}}'                     // Tax.
  'currency': 'EUR' 
});

{% for product in orderProducts %}

ga('ecommerce:addItem', {
  'id': '{{order.orderId}}',                     // Transaction ID. Required.
  'name': '{{product.title_p}}',    // Product name. Required.
  'sku': '{{product.sgu}}',                 // SKU/code.
{% set cat=product.title_p|split(" ") %}
  'category': '{{cat[0]}}',         // Category or variation.
  'price': '{{product.total}}',                 // Unit price.
  'quantity': '{{product.quantity}}'                   // Quantity.
});

{% endfor %}

ga('ecommerce:send');

</script>




<div id="contenedor1">

	<div id="fotoRow">
		<div class="foto_blank">
			{% include "CustomProjectBundle::login.html.twig" %}
			{% include "CustomProjectBundle::menu.html.twig" %}
			<img src='{{ asset('bundles/customproject/images/espacio.png') }}'>		
		</div>
		<div class="foto">
     			<div class="thanksClass contenido mg-top20 mg-left20">
				<br>
				<h1>{{ "Thank you for your order."|t }}</h1>
				<br>
        			<p>{{'Your order has been received'|t}} 
			</div>
			<img src='{{ asset('bundles/customproject/images/espacio.png') }}'>		
		</div>
		<div class="foto_blank">
			<img src='{{ asset('bundles/customproject/images/espacio.png') }}'>		
		</div>
	</div>
</div>


{% include "CustomProjectBundle::footer.html.twig" %}
