
{% include 'DrufonyCoreBundle::emails/mailBase.html.twig' %}




<p>{{ 'Hello'|t }},</p>
<p>{{ 'The user @username order @orderId has been completed successfully and paid through @paymentPlataform with idetifier @paymentHash.'
    | t({ '@username': customParams.uid, '@orderId': customParams.orderId, '@paymentPlataform': customParams.paymentPlataform,
    '@paymentHash': customParams.paymentHash }) }}

</p>

<p> {{ 'Shipment Information'|t }}:</p>

<table width="100%">

<tr>
{{ 'Name' | t}}:{{ customParams.shipping_Info.name }}
</tr>	
<tr>
{{ 'Adress' | t}}:
</tr>
<tr>
{{ customParams.shipping_Info.address }}
</tr>	
<tr>
{{ customParams.shipping_Info.city }}.{{ customParams.billing_Info.province }}.{{ customParams.billing_Info.postalCode }}
</tr>	
<tr>
{{ customParams.shipping_Info.country }}
</tr>	

</table>


<table width="100%">
<tr>
	<td width="10%">{{'Units'|t}}</td>
	<td width="20%">
		{{ 'Reference'|t}}
	</td>
	<td width="40%">
		{{ 'Product'|t}}
	</td>
	<td width="10%">
		{{ 'Size'|t}}</td>
	</td>
	<td width="20%">
		{{ 'Price'|t}}
	</td>
</tr>
{% for item in customParams.cart %}
<tr>
	<td>{{ item.quantity }}</td>
	<td>
		{{ item.sgu  }}
	</td>
	<td>
		{{ item.title }}
	</td>
	<td>{{ item.varieties }}</td>
	<td>
		{{ item.pricePVP | round(0,'floor')}}<font size="1">,{{ item.pricePVP | decimals  }} €</font>
	</td>
</tr>
<tr>
{{'Shipping Cost'|t}}:{{ customParams.orderInfo.shippingValue }} €
</tr>

{% endfor %}

</table>	


{% include 'DrufonyCoreBundle::emails/mailFooter.html.twig' %}

