{% include 'DrufonyCoreBundle::emails/mailBase.html.twig' %}
<table>
<br>	
<br>	
<p>
    {{ 'Hello %username,' |t({ '%username': customParams.username }, customParams.lang) }}
    <p>{{ 'Please, to recover your password click in next link.' | t }}
    <a href='{{ customParams.link }}'>{{ 'Recover'|t(0, customParams.lang) }}</a>.</p>
    {{ 'Thank you'|t }}
</p>
</table>
